{% extends "layout.html" %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Post a specification
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Post a specification
      </h1>

      <p>You can use the schools contract finder to help you find a supplier for you school to purchase goods or services.</p>

      <h2 class='govuk-heading-m'>
        Before you start
      </h2>

      <p>You need to write a &lsquo;specification&rsquo; &ndash; the document you give to suppliers explaining what you want to buy.</p>

      <p>Your specification should include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a precise description of what you need</li>
        <li>an explanation of what it should do, if needed</li>
        <li>the amount you need</li>
        <li>the quality it should be</li>
        <li>when you need it</li>
      </ul>

      {{ govukButton({
        text: 'Continue',
        href: "name",
        classes: ""
      }) }}

    </div>
  </div>
{% endblock %}
