<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
<h2 class="govuk-heading-m govuk-!-margin-top-9" style="margin-bottom: -26px">
  Previous answers
</h2>

<p class="text-right" style="padding-bottom: 10px">
  <a href="/start-again">Start again</a>
</p>

<dl class="app-check-your-answers" style="width: 100%">
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      What are you buying?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['type'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/type">
        Change
      </a>
    </dd>
  </div>

  {% if data['category'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      What {{ data['type'] | lower }} do you need?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['category'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/category">
        Change
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['bundle'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      Would you like the option to buy multiple services?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['bundle'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/bundle">
        Change
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['sub-category'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      {% if data['category'] == 'ICT' %}
        What are you looking for in {{ data['category'] }}?
      {% else %}
        What are you looking for in {{ data['category'] | lower }}?
      {% endif %}
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['sub-category'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/sub-category">
        Change
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['catalogue'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      Do you want to buy from an online catalogue?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['catalogue'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/catalogue">
        Change
      </a>
    </dd>
  </div>
  {% endif %}


  {% if data['directaward'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      Do you want the option for direct award?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['directaward'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/directaward">
        Change
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['meter'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      What type of meter do you have?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['meter'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/meter">
        Change
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['support'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      What level of support are you looking for?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['support'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/support">
        Change
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['size'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      Are you doing a large energy efficiency project across you school or trust?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['size'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/size">
        Change
      </a>
    </dd>
  </div>
  {% endif %}
</dl>
