<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
<h2 class="govuk-heading-m govuk-!-margin-top-9" style="margin-bottom: -26px">
  Previous answers
</h2>

<p class="text-right" style="padding-bottom: 10px">
  <a href="/start-again">Start again</a>
</p>

<dl class="app-check-your-answers" style="width: 100%">
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      Are you buying goods or a service contract?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['type'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/type">
        Change
      </a>
    </dd>
  </div>

  {% if data['category'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      Which category are you buying in?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['category'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/category">
        Change
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['category'] == "Energy and utilities" and data['category-energy'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      What are you looking for within energy and utilities?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['category-energy'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/sub-category">
        Change
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['method'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      Do you want to use a framework or run your own buying process?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['method'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/method">
        Change
      </a>
    </dd>
  </div>
  {% endif %}

  {% if data['budget'] %}
  <div class="app-check-your-answers__contents govuk-body-s">
    <dt class="app-check-your-answers__question">
      How much are you spending?
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['budget'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="/service/budget">
        Change
      </a>
    </dd>
  </div>
  {% endif %}
</dl>
