<span class="govuk-caption-xl">Recommended catalogue</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Office supplies
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Eastern Shires Purchasing Organisation (ESPO) catalogue</a>.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What they offer
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>over 25,000 products, including:</li>
      <ul class="govuk-list govuk-list--bullet">
        <li>stationary</li>
        <li>exercise books</li>
        <li>ICT consumables</li>
        <li>furniture ranges</li>
      </ul>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>continuously updated, 4500 new products this year</li>
      <li>benchmarked low prices</li>
      <li>account managers and a major projects team and can also offer a schools purchasing health check </li>
    </ul>

    {{ govukInsetText({
        html: '
        <p>Before buying from the catalogue you&rsquo;ll need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.espo.org/Registration">create an ESPO account</a></li>
          <li><a href="https://www.espo.org/Online-Catalogue-Login-Request">request a catalogue login</a></li>
        </ul>'
    }) }}

    {{ govukButton({
      text: 'View the catalogue',
      href: 'https://www.espocatalogue.org/WebConnectEPO/',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
