{{ govukRadios({
  classes: '',
  idPrefix: 'category',
  name: 'category',
  fieldset: {
    legend: {
      text: 'What are you buying?',
      isPageHeading: true,
      classes: 'govuk-fieldset__legend--xl'
    }
  },
  hint: {
    text: ''
  },
  items: [
    {
      value: 'Audit services',
      text: 'Audit services',
      checked: checked('category', 'Audit services')
    },
    {
      value: 'Energy and utilities',
      text: 'Energy and utilities',
      checked: checked('category', 'Energy and utilities')
    },
    {
      value: 'Facilities management and estates',
      text: 'Facilities management and estates',
      checked: checked('category', 'Facilities management and estates')
    },
    {
      value: 'ICT',
      text: 'ICT',
      checked: checked('category', 'ICT')
    },
    {
      value: 'Insurance',
      text: 'Insurance',
      checked: checked('category', 'Insurance')
    },
    {
      value: 'Legal services',
      text: 'Legal services',
      checked: checked('category', 'Legal services')
    },
    {
      value: 'Printers, copiers and multi-functional devices (MFDs)',
      text: 'Printers, copiers and multi-functional devices (MFDs)',
      checked: checked('category', 'Printers, copiers and multi-functional devices (MFDs)')
    },
    {
      value: 'Professional services',
      text: 'Professional services',
      checked: checked('category', 'Professional services')
    },
    {
      value: 'Recruitment',
      text: 'Recruitment',
      checked: checked('category', 'Recruitment')
    }
  ]
}) }}
