<h1 class="govuk-heading-xl">
  Crown Commercial Services (CCS) technology catalogue
</h1>
<p>Covers hardware, software and related service products and offers schools a flexible and compliant route to market for all their commodity technology product needs; whether it is a single cable or an entire corporate infrastructure. </p>

{{ govukInsetText({
    html: 'Before buying from the catalogue you&rsquo;ll need to <a href="https://buying.crowncommercial.gov.uk/s/login/SelfRegister">create an account</a>'
}) }}

{{ govukButton({
  text: 'View CCS catalogue',
  href: 'https://purchasingplatform.crowncommercial.gov.uk',
  classes: ''
}) }}
