<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Electricity supply and ancillary services
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use this Crown Commercial Services (CCS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What they offer
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>half-hourly metered electricity supply</li>
      <li>ancillary services</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <p>Key benefits of the framework are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a customer service team</li>
      <li>discounts in wholesale energy markets</li>
    </ul>

    {{ govukButton({
      text: 'Continue to the framework',
      href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1075',
      classes: 'govuk-!-margin-bottom-8'
    }) }}

    <h2 class='govuk-heading-m'>
      If they do not have what you want
    </h2>
    <p>Check our <a href="https://www.gov.uk/government/publications/deals-for-schools/deals-for-schools">list of other places to buy</a> or <a href="/service/budget">run your own buying process</a>.</p>

  </div>

  {% include "includes/framework-aside.html" %}
</div>
