<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Furniture
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the North East Procurement Organisation (NEPO).</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>office furniture</li>
      <li>educational furniture</li>
      <li>residential and domestic furniture</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>you can select a supplier  for projects less than £25,000 (this is called a direct award)</li>
      <li>no obligation design and consultancy service for large projects</li>
    </ul>

    {% include "includes/framework-help.html" %}

    {{ govukButton({
      text: 'View the framework',
      href: 'https://www.nepo.org/solutions/furniture',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
