<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  ICT services for education
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crown Commercial Services (CCS) framework <a href="https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1050">ICT services for education</a>.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <p>The framework offers 20 suppliers in a single lot.</p>

    <p>Provides a diverse range of services and solutions including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>supply and fit</li>
      <li>support and maintenance</li>
      <li>systems configuration and management</li>
      <li>partial or fully managed ICT service</li>
      <li>complete integrated service with other technologies/partners</li>
      <li>supply and integration of solutions into both green field (new build) situations and legacy environments</li>
      <li>ICT environments requiring integration and repurposing of existing ICT</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <p>Key benefits of the framework are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>specialises in education settings</li>
      <li>support from CCS with running a mini-competition</li>
    </ul>

    {{ govukButton({
      text: 'Continue to CCS to view framework',
      href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1050',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
