<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Loans to fund energy saving schemes
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Salix framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <p>An interest free loan available to all local-authority-maintained schools, academies and grant-aided schools to carry out energy saving improvements to their premises, including insulation and LED lighting, open for applications throughout the year.</p>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <p>Schools can pay back the loan entirely from savings on their energy bill</p>

    {{ govukButton({
      text: 'Continue to Salix to view framework',
      href: 'https://www.salixfinance.co.uk/loans/schools-loans',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
