<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Supply of natural gas and (daily/non-daily metered) and ancillary services
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crown Commercial Services (CCS) framework <a href="https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1076">supply of natural gas and (daily/non-daily metered) and ancillary services</a>.</p>

<h2 class='govuk-heading-m'>
  What it offers
</h2>
<p>Single supplier agreement which will aggregate your volume and manage the excecution of trading on your behalf to deliver value for money in a complex, fast moving marketplace.</p>

<p>Includes liquefied petroleum gas, solid fuels including biomass, lubricants and grease, metering and telementary and fuels ancillary services.</p>

<h2 class='govuk-heading-m'>
  Benefits
</h2>
<p>Key benefits of the framework are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>dedicated supplier-customer service team bypassing mainstream call centres</li>
  <li>savings on administration costs</li>
  <li>transparent, not for profit charging structure</li>
</ul>

{{ govukButton({
  text: 'Continue to CCS to view framework',
  href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1076',
  classes: ''
}) }}
