<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Retrofit
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Fusion 21 framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <p>Suppliers to complete improvement projects including insulation, heating and energy systems, energy efficient lighting, windows and doors,</p>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <p>Key benefits of the framework are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>regionally appointed suppliers</li>
      <li>single or fully integrated solutions</li>
    </ul>

    {{ govukButton({
      text: 'Continue to Fusion 21 to view framework',
      href: 'https://www.fusion21.co.uk/procurement/framework-index/retrofit/',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
