<span class="govuk-caption-xl">Your recommendation</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Books and related materials
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Eastern Shires Purchasing Organisation (ESPO) framework.</p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>books</li>
      <li>e-books</li>
      <li>e-audiobooks</li>
      <li>educational software</li>
      <li>CDs</li>
      <li>DVDs</li>
    </ul>
    <p>Includes fiction, non-fiction and curriculum material.</p>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <!-- <li>a wide range of suppliers</li> -->
      <li>discounts of over 40% on some titles</li>
      <!-- <li>pre-agreed terms and conditions</li> -->
    </ul>

    <p>Before buying from the framework you&rsquo;ll need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="">create an ESPO account</a></li>
      <li><a href="https://www.espo.org/Pages/Books-for-schools-framework-376E-guide">follow the instructions in the ESPO guide</a></li>
    </ul>

    <!-- HOW TO BUY -->
    <h2 class='govuk-heading-m'>
      How to use the framework
    </h2>

    <h3 class='govuk-heading-s'>
      Create a MyESPO account
    </h3>
    <p>To access discounts, you need to create a MyESPO account.</p>
    <p>Creating an account is normally very quick &ndash; we can usually set up your account on the same day. You&rsquo;ll receive an email when we activated your account.</p>
    <p><a href="https://www.espo.org/Registration">Create your ESPO account</a>.</p>

    <h3 class='govuk-heading-s'>
      If you already have a MyESPO account
    </h3>
    <p>You may already have an account with ESPO if you&rsquo;ve used the ESPO catalogue before.</p>
    <p>However, to access the frameworks, you need another account that lets you order online at <a href="http://www.espocatalogue.org">www.espocatalogue.org</a>. This does not necessarily mean you already have an account to view frameworks on <a href="http://www.espo.org">www.espo.org</a> &ndash; you may have one or the other, both or neither.</p>
    <p>You can register to access frameworks whether your school has a catalogue account with us or not. If you&rsquo;re not sure which option to choose, select &lsquo;I am a new customer&rsquo;. This will let you progress whatever your current situation is.</p>
    <p>If you&rsquo;re shown the message &lsquo;This email address has been used in a previous application&rsquo;, then you already have a framework account and will be able to log in. If you are having difficulties logging in, select the &lsquo;Forgotten your password&rsquo; option.</p>

    <h3 class='govuk-heading-s'>
      Use the framework
    </h3>
    <p>Log on to your MyESPO account and go to the <a href="https://www.espo.org/Frameworks/Libraries/Books-and-Related-Materials">framework page</a>.</p>
    <p>You can find all forms in the &lsquo;downloads&rsquo; section of this framework, including the user guide containing supplier details, discount information and further details about using the framework.</p>

    <h3 class='govuk-heading-s'>
      Complete the Customer Access Agreement form
    </h3>
    <p>You must complete the Customer Access Agreement form to get access to exclusive ESPO discounts.</p>
    <p>By signing this form, you agree to use the framework in line with the process. You can order books once we have processed your form.</p>
    <p>Please return completed forms by email to <a href="mailto:care@espo.org">care@espo.org</a>.</p>

    <h3 class='govuk-heading-s'>
      Find out suppliers&rsquo; discount rates
    </h3>
    <p>Rates are listed by the publisher to help you identify suppliers who offer the best discounts. </p>
    <p>If you do not know the publisher of the books you need, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>search suppliers&rsquo; websites (see page 12 of the user guide)</li>
      <li>search by book title or ISBN</li>
    </ul>

    <h3 class='govuk-heading-s'>
      Contact your chosen supplier
    </h3>
    <p>You should contact your chosen supplier to confirm:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>availability</li>
      <li>delivery times</li>
      <li>pricing &ndash; the quote should reflect the discount from the recommended retail price (RRP)</li>
      <li>stated within the user guide</li>
    </ul>
    <p>You can find contact details for all suppliers on page 6 of the user guide.</p>

    <h3 class='govuk-heading-s'>
      Place your order with the chosen supplier
    </h3>
    <p>There are two ways you can place your order:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>download and use the template order form provided</li>
      <li>place your order by telephone or email</li>
    </ul>
    <p>You must quote &lsquo;ESPO Framework 376E&rsquo; to get the agreed discounts.</p>
    <p>You should avoid using the suppliers&rsquo; order forms, These will contain the suppliers&rsquo; order terms and you may not get the best rates.</p>

    <h3 class='govuk-heading-s'>
      Run a further competition between the suppliers
    </h3>
    <p>You can run a further competition if you think you can get a better price.</p>
    <p>This usually only applies to items ordered in large quantities.</p>
    <p>For more information, contact:</p>
    <p>
      Catherine Watson<br>
      ESPO procurement officer<br>
      <a href="
      tel:0116 294 4169">0116 294 4169</a><br>
      <a href="mailto:c.watson@espo.org">c.watson@espo.org</a>
    </p>

    <h3 class='govuk-heading-s'>
      Complete the Confirmation of Award form
    </h3>
    <p>This document helps ESPO manage the contracts and makes sure suppliers adhere to the terms of the framework.</p>

    <!-- /HOW TO BUY -->

    <!-- {{ govukButton({
      text: 'View the framework',
      href: 'https://www.espo.org/Pages/Books-for-schools-framework-376E-guide',
      classes: ''
    }) }} -->

  </div>

  {#{% include "includes/framework-aside.html" %}#}
  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items app-related-items--small" role="complementary">
      <h2 class="govuk-heading-s">
        Related content
      </h2>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="https://www.gov.uk/government/collections/buying-for-schools">
            Buying for schools: templates and forms
          </a>
        </li>
      </ul>
      <h3 class="govuk-body-s">
        Explore the topic
      </h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="/guidance/">
            Buying educational resources: How to get the most out of your funds
          </a>
        </li>
      </ul>
    </aside>

  </div>

</div>
