<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Audit services
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>internal audit</li>
      <li>external audit</li>
      <li>assurance</li>
      <li>audit-related services</li>
      <li>financial control services</li>
    </ul>


    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>covers requirements in the joint audit code of practice and the academies financial handbook</li>
      <li>fully compliant with EU and public contract regulations</li>
      <li>cover for any future conditions imposed by the government, funding bodies, the Department for Education and other relevant bodies</li>
    </ul>

    {% include "includes/framework-help.html" %}

    {{ govukButton({
      text: 'Continue to the framework',
      href: 'https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=9&frameworkID=184',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
