<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Legal services
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>academy conversion and post conversion</li>
      <li>commercial, contracts and procurement law</li>
      <li>construction and estates management</li>
      <li>corporate governance</li>
      <li>data protection and freedom of information</li>
      <li>education and charity law</li>
      <li>health and safety</li>
      <li>human resources and employment law</li>
      <li>intellectual property rights and licensing</li>
      <li>litigation and dispute resolution</li>
      <li>private finance initiatives (PFI)</li>
      <li>property and land law</li>
      <li>shared services</li>
      <li>student matters , including admissions, exclusions, and safeguarding</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>free initial legal advice using the legal services helpline tool</li>
      <li>competitive price with good discounts on market rates</li>
      <li>efficient and simple buying process</li>
    </ul>

    {% include "includes/framework-help.html" %}

    {{ govukButton({
      text: 'Continue to the framework',
      href: 'https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=3&frameworkID=207',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
