<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Supply of natural gas and (daily/non-daily metered) and ancillary services
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Crown Commercial Services (CCS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>liquefied petroleum gas</li>
      <li>
        solid fuels including:
        <ul class="govuk-list govuk-list--bullet">
          <li>biomass</li>
          <li>lubricants and grease</li>
          <li>metering and telementary</li>
          <li>fuel services</li>
        </ul>
      </li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>customer service team to help you</li>
      <li>savings on administration costs</li>
      <li>clear, not for profit charging structure</li>
    </ul>

    {% include "includes/framework-help.html" %}

    {{ govukButton({
      text: 'Continue to the framework',
      href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1076',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
