<span class="govuk-caption-xl">Recommended agreement</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Risk protection arrangement for academy trusts
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Government <a href="https://www.gov.uk/guidance/academies-risk-protection-arrangement-rpa">risk protection arrangement (RPA) for academy trusts</a>.</p>

<h2 class='govuk-heading-m'>
  What it offers
</h2>
<p>An alternative to commercial insurance for academies, underwritten by the government, opt in immediately or up to 12 months in advance</p>

<p>You can get the cover you need for your academy, pupils and staff, and save money by joining the risk protection arrangement, provided by industry professionals on behalf of the Department for Education.</p>

<h2 class='govuk-heading-m'>
  Benefits
</h2>
<p>Key benefits of the framework are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>easy opt-in</li>
  <li>£20 per pupil taken direct from general annual grant</li>
</ul>

{{ govukButton({
  text: 'Find out more about RPA',
  href: 'https://www.gov.uk/guidance/academies-risk-protection-arrangement-rpa',
  classes: ''
}) }}
