<span class="govuk-caption-xl">Your recommendation</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Books and related materials
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Eastern Shires Purchasing Organisation (ESPO) framework.</p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-l related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>books</li>
      <li>e-books</li>
      <li>e-audiobooks</li>
      <li>educational software</li>
      <li>CDs</li>
      <li>DVDs</li>
      <li>discounts of over 40% on some titles</li>
    </ul>
    <p>Includes fiction, non-fiction and curriculum material.</p>

    <!-- HOW TO BUY -->
    <h2 class='govuk-heading-l'>
      How to use the framework
    </h2>

    {{ govukInsetText({
      html: '<p>Before you can use the framework, you need to <a href="https://www.espo.org/Registration">create a MyESPO account</a> and fill in the customer access agreement form.</p><p>All the forms you need are in the downloads section of the <a href="https://www.espo.org/Frameworks/Libraries/Books-and-Related-Materials">framework page on the ESPO website</a>.</p>'
    }) }}

    <h3 class='govuk-heading-m'>
      Find out suppliers’ discount rates
    </h3>
    <p>Rates are listed by publishers on page 8 of the user guide to help you identify suppliers who offer the best discounts.</p>
    <p>If you do not know the publisher of the books you need, visit any of the suppliers’ websites (page 12 of the user guide) and search by book title or ISBN.</p>

    <h3 class='govuk-heading-m'>
      Run a further competition between the suppliers
    </h3>
    <p>If you think you can get a better price, you can <a href="https://www.gov.uk/guidance/buying-for-schools/run-a-mini-competition">run a mini-competition</a>. This usually only applies to items ordered in large quantities.</p>

    <h3 class='govuk-heading-m'>
      Contact your chosen supplier
    </h3>
    <p>You should contact your chosen supplier to confirm availability, delivery times and pricing &ndash; the quote should reflect the discount from the recommended retail price (RRP) stated within the user guide.</p>
    <p>You can find contact details of all suppliers on page 6 of the user guide.</p>

    <h3 class='govuk-heading-m'>
      Place your order with the chosen supplier
    </h3>
    <p>There are two ways you can place your order:</p>
    <ul class="govuk-list govuk-list--number">
      <li>using the template order form</li>
      <li>by telephone or email</li>
    </ul>

    <p>You must quote &lsquo;ESPO Framework 376E&rsquo; to get the agreed discounts.</p>

    {{ govukWarningText({
        html: 'Do not use the suppliers&rsquo; order forms as these contain their order terms so you may not get the best rates.',
        iconFallbackText: 'Warning'
    }) }}

    <!-- /HOW TO BUY -->

    <!-- {{ govukButton({
      text: 'View the framework',
      href: 'https://www.espo.org/Pages/Books-for-schools-framework-376E-guide',
      classes: ''
    }) }} -->

  </div>

  {#{% include "includes/framework-aside.html" %}#}
  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items app-related-items--small" role="complementary">
      <h2 class="govuk-heading-s">
        Related content
      </h2>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="https://www.gov.uk/government/collections/buying-for-schools">
            Buying for schools: templates and forms
          </a>
        </li>
      </ul>
      <h3 class="govuk-body-s">
        Explore the topic
      </h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="/guidance/">
            Buying educational resources: How to get the most out of your funds
          </a>
        </li>
      </ul>
    </aside>

  </div>

</div>
