<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Leasing services
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crescent Purchasing Consortium (CPC) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What they offer
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>ICT equipment</li>
      <li>MFD operating and finance</li>
      <li>commercial vehicles and cars</li>
      <li>furniture and infrastructure</li>
      <li>modular buildings</li>
      <li>medical equipment</li>
      <li>solar PV</li>
      <li>LED lighting</li>
      <li>synthetic sports pitches</li>
      <li>sports and gym equipment</li>
      <li>scientific and research equipment</li>
      <li>engineering plant and machinery</li>
      <li>plant equipment</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>large discounts on market prices</li>
      <li>free quick quote tool</li>
      <li>fully evaluated suppliers</li>
    </ul>

    {{ govukButton({
      text: 'Continue to the framework',
      href: 'https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=3&frameworkID=195',
      classes: ''
    }) }}

    <h2 class='govuk-heading-m'>
      If they do not have what you want
    </h2>
    <p>Check our list of <a href="https://www.gov.uk/government/publications/deals-for-schools/deals-for-schools">all DfE approvedframeworks and deals</a> or <a href="/service/budget">run your own buying process</a>.</p>

  </div>

  {% include "includes/framework-aside.html" %}
</div>
