<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Leasing services
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crescent Purchasing Consortium (CPC) framework <a href="https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=9&frameworkID=195">leasing services</a>.</p>

<h2 class='govuk-heading-m'>
  What it offers
</h2>

<p>The framework offers 9 suppliers over 3 lots.</p>

<p>It offers:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>ICT operating and finance leases (desktop PCs, screens, notebooks, iPads, laptops, smartboards, IT infrastructure, audio visual equipment, projectors, and telecommunications equipment)</li>
  <li>MFD operating and finance leases</li>
  <li>commercial vehicles and car leases</li>
  <li>furniture and infrastructure leases</li>
  <li>modular buildings leases</li>
  <li>medical equipment leases</li>
  <li>solar PV leases</li>
  <li>LED lighting leases</li>
  <li>synthetic sports pitches leases</li>
  <li>sports and gym equipment leases</li>
  <li>scientific and research equipment leases</li>
  <li>engineering plant and machinery leases</li>
  <li>plant equipment leases</li>
</ul>

<h2 class='govuk-heading-m'>
  Benefits
</h2>
<p>Key benefits of the framework are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>substantial discounts relative to the marketplace</li>
  <li>free quick quote tool available</li>
  <li>fully evaluated suppliers</li>
</ul>

{{ govukButton({
  text: 'Continue to CPC to view framework',
  href: 'https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=3&frameworkID=195',
  classes: ''
}) }}
