<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Water, wastewater and ancillary services
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crown Commercial Services (CCS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What they offer
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>water supply</li>
      <li>sewerage</li>
      <li>services that reduce water use</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>simple and easy to access</li>
      <li>discount prices</li>
    </ul>

    {{ govukButton({
      text: 'Continue to the framework',
      href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm3790',
      classes: ''
    }) }}

    {% include "includes/framework-help.html" %}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
