<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Photocopiers, printers, scanners and associated print services and supplies
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crescent Purchasing Consortium (CPC) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <p>The framework offers 19 suppliers over 7 lots.</p>

    <p>It offers:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>managed print services</li>
      <li>free-of-charge print audits</li>
      <li>recycled technologies</li>
      <li>IT cloud services</li>
      <li>scanning and archiving services</li>
      <li>IT support services</li>
      <li>mailroom management and mailing services</li>
      <li>offset and specialist printing</li>
      <li>data storage, workflow and management solutions</li>
      <li>MFD and print consultancy</li>
      <li>specialist print services</li>
      <li>a full range of MFD, IT and office-related consumables</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <p>Key benefits of the framework are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>access to innovative MFD technologies and print solutions, from small desk-top units to high-volume machines</li>
      <li>purchase and lease options, so you can select the best financial solution for your organisation</li>
      <li>a range of support and consultancy services to help you get the most value out of your internal printing arrangements</li>
      <li>substantial discounts against standard market prices</li>
      <li>an efficient route to market through mini competition</li>
      <li>full compliance with the EU public procurement regulations</li>
    </ul>

    {{ govukButton({
      text: 'Continue to CPC to view framework',
      href: 'https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=3&frameworkID=185',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
