<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Electricity supply and ancillary services
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crown Commercial Services (CCS) framework <a href="https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1075">electricity supply and ancillary services</a>.</p>

<h2 class='govuk-heading-m'>
  What it offers
</h2>
<p>The framework offers half-hourly metered electricity supply and ancillary services. It offers flexible short and long term procurement.offers 12 suppliers over 2 lots.</p>

<p>Includes liquefied petroleum gas, solid fuels including biomass, lubricants and grease, metering and telementary and fuels ancillary services.</p>

<h2 class='govuk-heading-m'>
  Benefits
</h2>
<p>Key benefits of the framework are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a dedicated customer service team</li>
  <li>flexible short and long-term procurement</li>
  <li>discounts in wholesale energy markets</li>
</ul>

{{ govukButton({
  text: 'Continue to CCS to view framework',
  href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1075',
  classes: ''
}) }}
