<div class="govuk-grid-column-one-third">

  <aside class="app-related-items app-related-items--small" role="complementary">
    <h2 class="govuk-heading-s">
      Related content
    </h2>
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://www.gov.uk/government/collections/buying-for-schools">
          Buying for schools: templates and forms
        </a>
      </li>
    </ul>
    <!-- <h3 class="govuk-body-s">
      Explore the topic
    </h3>
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a href="https://www.gov.uk/guidance/buying-for-schools/writing-a-specification">
          Writing a specification
        </a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/buying-for-schools/select-a-supplier-direct-from-a-framework-agreement">
          Select a supplier direct from a framework agreement
        </a>
      </li>
      <li>
        <a href="https://www.gov.uk/guidance/buying-for-schools/run-a-mini-competition">
          Run a mini-competition
        </a>
      </li>
    </ul> -->
  </aside>

</div>
