<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Books and materials
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Eastern Shires Purchasing Organisation (ESPO) framework.</p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What they offer
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>books</li>
      <li>e-books</li>
      <li>e-audiobooks</li>
      <li>educational software</li>
      <li>CDs</li>
      <li>DVDs</li>
    </ul>
    <p>Includes fiction, non-fiction and curriculum material.</p>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>a wide range of suppliers</li>
      <li>discounts of over 41% on some titles</li>
      <li>pre-agreed terms and conditions</li>
    </ul>

    {% include "includes/framework-help.html" %}

    <p>Before buying from the framework you&rsquo;ll need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.espo.org/Registration">create an ESPO account</a></li>
      <li><a href="https://www.espo.org/Pages/Books-for-schools-framework-376E-guide">follow the instructions in the ESPO guide</a></li>
    </ul>

    {{ govukButton({
      text: 'Continue to the framework',
      href: 'https://www.espo.org/Pages/Books-for-schools-framework-376E-guide',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
