<span class="govuk-caption-xl">Recommended agreement</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Risk protection arrangement for academy trusts
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Department for Education (DfE).</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What we offer
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        an alternative to commercial insurance for academies that covers:
        <ul class="govuk-list govuk-list--bullet">
          <li>material damage</li>
          <li>business interruption</li>
          <li>employers liability</li>
          <li>third party liability</li>
          <li>governors’ liability</li>
          <li>professional indemnity</li>
          <li>employee and third party dishonesty</li>
          <li>money</li>
          <li>personal accident</li>
          <li>United Kingdom travel</li>
          <li>overseas travel including winter sports</li>
          <li>legal expenses</li>
          <li>cultural assets</li>
        </ul>
      </li>
      <li>free advice and training</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>easy to opt-in</li>
      <li>£20 per pupil taken direct from general annual grant</li>
    </ul>

    {% include "includes/framework-help.html" %}

    {{ govukButton({
      text: 'Find out more about RPA',
      href: 'https://www.gov.uk/guidance/academies-risk-protection-arrangement-rpa',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
