<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Facilities management marketplace
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crown Commercial Services (CCS) framework <a href="https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm3830">facilities management marketplace</a>.</p>

<h2 class='govuk-heading-m'>
  What it offers
</h2>
<p>The framework offers 46 suppliers over 3 lots.</p>

<p>It includes:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>contract management</li>
  <li>contract mobilisation</li>
  <li>maintenance services</li>
  <li>horticultural services</li>
  <li>statutory obligations</li>
  <li>catering services</li>
  <li>cleaning services</li>
  <li>workplace FM services</li>
  <li>reception services</li>
  <li>security services</li>
  <li>waste services</li>
  <li>miscellaneous FM services</li>
  <li>computer-aided facilities management (CAFM)</li>
  <li>helpdesk services</li>
  <li>management of billable works</li>
</ul>

<h2 class='govuk-heading-m'>
  Benefits
</h2>
<p>Key benefits of the framework are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>transparent, not for profit charging structure</li>
  <li>regular updates on purchases and prices to support budgeting</li>
  <li>encompasses lower value customer requirements</li>
  <li>regional lot structure means you can procure services locally</li>
</ul>

{{ govukButton({
  text: 'Continue to CCS to view framework',
  href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm3830',
  classes: ''
}) }}
