<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Water, wastewater and ancillary services
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crown Commercial Services (CCS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <p>A single national deal covering water supply, waste water removal (sewerage) and ancillary services that reduce water consumption and make usage more efficient and supply more resilient.</p>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <p>Key benefits of the framework are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>simple and easily accessible</li>
      <li>single cost effective agreement</li>
      <li>discounted list prices</li>
    </ul>

    {{ govukButton({
      text: 'Continue to CCS to view framework',
      href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm3790',
      classes: ''
    }) }}

  </div>

  {% include "includes/framework-aside.html" %}
</div>
