{{ govukRadios({
  classes: '',
  idPrefix: 'category-energy',
  name: 'category-energy',
  fieldset: {
    legend: {
      text: 'What are you looking for in energy and utilities?',
      isPageHeading: true,
      classes: 'govuk-fieldset__legend--xl'
    }
  },
  hint: {
    text: ''
  },
  items: [
    {
      value: 'Electricity',
      text: 'Electricity',
      checked: checked('category-energy', 'Electricity')
    },
    {
      value: 'Gas',
      text: 'Gas',
      checked: checked('category-energy', 'Gas')
    },
    {
      value: 'Water',
      text: 'Water',
      checked: checked('category-energy', 'Water')
    },
    {
      value: 'Drains and sewerage',
      text: 'Drains and sewerage',
      checked: checked('category-energy', 'Drains and sewerage')
    },
    {
      value: 'Energy efficiency improvements',
      text: 'Energy efficiency improvements',
      checked: checked('category-energy', 'Energy efficiency improvements')
    },
    {
      value: 'Loans for energy saving',
      text: 'Loans for energy saving',
      checked: checked('category-energy', 'Loans for energy saving')
    }
  ]
}) }}
