<span class="govuk-caption-xl">Recommended framework</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Employee screening services
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crescent Purchasing Consortium (CPC) framework <a href="https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=9&frameworkID=197">employee screening services</a>.</p>

<h2 class='govuk-heading-m'>
  What it offers
</h2>
<p>The framework offers 6 suppliers over 2 lots.</p>

<p>It offers:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Disclosure Barring Service (DBS) checks (basic, standard, enhanced and Children’s Barred List (formerly known as List 99) checks)</li>
  <li>Identity verification (including passport verification)</li>
  <li>Education qualifications</li>
  <li>Professional qualifications and licence checks</li>
  <li>Employment history checks, including gap verification</li>
  <li>Right to work checks</li>
  <li>Credit checks</li>
  <li>Reference checks</li>
  <li>DVLA driving checks</li>
  <li>International fraud and sanction checks</li>
  <li>BS7858 and Baseline Personnel Security Standard (BPSS) checks</li>
  <li>A range of value-added services, including Financial Conduct Authority, MOT and Insurance, Energy and Utility Skills Register, Health and Safety and FACIS checks</li>
</ul>

<h2 class='govuk-heading-m'>
  Benefits
</h2>
<p>Key benefits of the framework are:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>access to an automated on-line DBS check system</li>
  <li>direct award or mini competition available</li>
</ul>

{{ govukButton({
  text: 'Continue to CPC to view framework',
  href: 'https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=3&frameworkID=197',
  classes: ''
}) }}
