<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Buying low to medium cost things
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">
  How schools can buy low or medium value things by researching suppliers and getting at least 3 quotes.
</p>

<p>To buy in this way you should:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>decide how you will assess the bids</li>
  <li>get quotes from at least 3 suppliers</li>
  <li>assess all the quotes you get fairly</li>
  <li>choose the supplier that offers best value for money</li>
</ul>
