<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Buying things that are over the EU procurement threshold
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">
        Based on your answers we think you&rsquo;re buying something above the EU procurement threshold.
      </p>

      <p>EU procurement thresholds are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>goods &ndash; £181,302</li>
        <li>works &ndash; £4,551,413</li>
        <li>most services &ndash; £181,302</li>
      </ul>

      {{ govukWarningText({
          text: 'We recommend that you get legal advice if what you are buying is over, or near to, the EU procurement thresholds.',
          iconFallbackText: 'Warning'
      }) }}

      <p>To buy in this way you must follow certain tasks, including advertising a contract and running a buying process.</p>
      <p><a href="https://www.gov.uk/guidance/buying-for-schools/buying-low-to-medium-cost-things">See our guidance on buying things that are over the EU procurement threshold</a> </p>



      {% include "includes/answers.html" %}

    </div>
</div>
