<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Buying high-value things under the EU procurement threshold
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">
        How schools can buy high value things, including how to advertise a contract and run a procurement process.
      </p>

      {{ govukWarningText({
          text: 'We recommend that you get legal advice before buying high value things.',
          iconFallbackText: 'Warning'
      }) }}

      <p>To buy in this way you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>assess the market</li>
        <li>prepare your contract and tender documents</li>
        <li>advertise in the right places</li>
        <li>consider using an expression of interest to cut the number of bids you’ll need to assess later</li>
        <li>send an invitation to tender to people who reply to your advert</li>
        <li>fairly assess all the bids you get , using the same process</li>
        <li>choose the bid that offers best value for money</li>
        <li>award the contract to the highest scoring bidder</li>
      </ul>
    </div>

    <div class="govuk-grid-column-full">
      <ul class="accordion">
        <p class="text-right govuk-body-s"><a href="#0">Open all</a> <span class="secondary-text govuk-!-margin-left-2">Close all</span></p>

        <li class="accordion__section">
          <a href="#0">Assess the market</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Asking suppliers to submit an expression of interest (EOI)</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Invitations to tender</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Timeline</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Decide how you will assess the bids</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Advertising</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Answering questions from the suppliers</a>
        </li>
        <li class="accordion__section">
          <a href="#0">How to decide the winning bid</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Telling unsuccessful bidders</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Telling the winning bidder</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Challenges from unsuccessful bidders</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Award the contract</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Abandoning</a>
        </li>
      </ul>
    </div>
</div>
