<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Buying things that are over the EU procurement threshold
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">
        How schools can buy high value things and comply with EU procurement rules, including advertising a contract and running a buying process.
      </p>

      {{ govukWarningText({
          text: 'We recommend that you get legal advice if what you are buying is over, or near to, the EU procurement thresholds.',
          iconFallbackText: 'Warning'
      }) }}

      <p>If what you are buying is over the <a href="https://www.gov.uk/guidance/buying-for-schools/find-the-right-way-to-buy#euprocurementthresholds">EU procurement threshold</a> then you must follow this process.</p>

      <p>You should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>assess the market</li>
        <li>see if you can get what you need through one of our deals for schools or a framework agreement</li>
        <li>prepare your contract and invitation to tender</li>
        <li>consider whether to use the restricted procedure to reduce the number of bids you have to assess later, or the open procedure to let anyone bid</li>
      </ul>

      <p>Then you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>advertise a contract notice in the Official Journal of the European Union (OJEU) using eNotices</li>
        <li>make your invitation to tender and all other documents available electronically from the time that the contract notice is published</li>
        <li>assess all the bids you get fairly, using the same process</li>
        <li>choose the supplier that offers best value for money</li>
        <li>award the contract to the highest scoring bid supplier</li>
      </ul>
    </div>

    <div class="govuk-grid-column-full">
      <ul class="accordion">
        <p class="text-right govuk-body-s"><a href="#0">Open all</a> <span class="secondary-text govuk-!-margin-left-2">Close all</span></p>

        <li class="accordion__section">
          <a href="#0">Assess the market</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Prior information notices (PIN)</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Reduce the number of bids you get using the restricted process</a>
        </li>
        <li class="accordion__section">
          <a href="#0">When to send your questionnaire</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Invitation to tender</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Decide how you will assess the bids</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Timeline</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Advertising</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Answering questions from the suppliers</a>
        </li>
        <li class="accordion__section">
          <a href="#0">How to decide the winning bid</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Telling unsuccessful bidders</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Telling the winning bidder</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Apply a standstill period</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Challenges from unsuccessful bidders</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Award the contract</a>
        </li>
        <li class="accordion__section">
          <a href="#0">Abandoning</a>
        </li>
      </ul>
    </div>
</div>
