<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        Buying things that are over the EU procurement threshold
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-6">
        Based on your answers we think you&rsquo;re buying something above the EU procurement threshold.
      </p>

      {{ govukWarningText({
          text: 'We recommend that you get legal advice.',
          iconFallbackText: 'Warning'
      }) }}

      <p>To buy in this way you must follow a specific process, including advertising in the Official Journal of the European Journal and running a buying process the complies with EU rules.</p>
      <p><a href="https://www.gov.uk/guidance/buying-for-schools/buying-low-to-medium-cost-things">See our guidance on buying things that are over the EU procurement threshold</a> </p>



      {% include "includes/answers.html" %}

    </div>
</div>
