// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

@import 'patterns/changelog';
@import 'patterns/currency-input';
@import 'patterns/govuk-landing';
@import 'patterns/autocomplete';




// Add some basic DL styles
dl {
  @include govuk-font($size: 19);
}

dt {
  font-weight: bold;
}

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
  }




.letter {
  padding: 4em 5em;
  margin: 0 0 30px 0;
  border: 1px #dee0e2 solid;

  * {
    font-family: "Arial", sans-serif;
  }
}






// Default UL to bullet list for rendered markdown
ul {
  @extend .govuk-list;
  @extend .govuk-list--bullet;
}

.letter ul {
  @include govuk-font($size: 16);
}





.doc-icon {
  margin-bottom: 1.8em;
  cursor: pointer;
}

.doc-icon:before {
  content: '';
  width: 2em;
  height: 3em;
  margin-right: 1em;
  position: relative;
  top: 1.3em;
  display: inline-block;
  background: govuk-colour("grey-2");
  box-shadow: 3px  -3px 0 #fff,
              6px -6px 0 govuk-colour("grey-2");
}
