// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/cards";
@import "components/pagination";
@import "components/accordion";
@import "components/flash-card";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

@import 'patterns/changelog';
@import 'patterns/currency-input';
@import 'patterns/govuk-landing';
@import 'patterns/autocomplete';


.text-right {
  text-align: right;
}

.secondary-text {
  color: $govuk-secondary-text-colour;
}

// Changes to check your answers to match 'Smart answers'
.app-check-your-answers {
  width: 100%;
}
.app-check-your-answers__question {
  font-weight: normal;
}

.govuk-tabs__panel .app-check-your-answers__question {
  font-weight: bold;
}



// Updated related content to match new gov styles
.app-related-items--small {
  border-top: 2px solid #005ea5;
  padding-top: 15px;

  h3 {
    border-top: 1px solid #bfc1c3;
    padding: 15px 0 0;
    margin: 30px 0 10px;
  }
}
.related-main-content {
  border-top: 1px solid #bfc1c3;
  padding-top: 20px;
}


.cta-box {
  margin: 2em 0;
  background-color: #dee0e2;
  padding: 2em;

  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}
