{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Requirements published</h1>
        <div class="govuk-panel__body">
          Suppliers can now see and respond to your requirements
        </div>
      </div>

      <p><a href="/v3/opportunities/{{ opportunity.title }}">View your opportunity</a>.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Your requirements have been published and will be open until {{ opportunity.date | date("D MMMM YYYY") }}. After the closing date you will be able to compare the responses.</p>
      <p>You can keep track of how many responses you get in <a href="/v3/account">your account</a>.</p>


      <p class="govuk-!-margin-top-9"><a href="#0">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>
{% endblock %}
