{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Requirements published</h1>
        <div class="govuk-panel__body">
          Suppliers can now see and respond to your requirements
        </div>
      </div>

      <p>We have sent you a confirmation email.</p>

      <p><a href="#0">View your requirements on the schools contract finder</a>.</p>



    </div>
  </div>
{% endblock %}
