{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "task-list"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Publish your requirements and evaluation criteria
      </h1>

      <p>
        You still need to complete these questions before we can publish your requirements:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        {% if data['complete-school'] == "false" %}
        <li>
          <a href="school-info/name">
            provide school information
          </a>
        </li>
        {% endif %}

        {% if data['complete-description'] == "false" %}
        <li>
          <a href="description/summary">
            description of what you want
          </a>
        </li>
        {% endif %}

        {% if data['complete-upload'] == "false" %}
        <li>
          <a href="upload/">
            upload specification and supporting documents
          </a>
        </li>
        {% endif %}

        {% if data['complete-evaluation'] == "false" %}
        <li>
          <a href="evaluate/how">
            describe evaluation process
          </a>
        </li>
        {% endif %}
      </ul>

      <p><a href="task-list">Return to task list</a></p>

    </div>
  </div>

{% endblock %}
