{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Schools Marketplace",
      href: "../"
    },
    {
      text: "Your account",
      href: "../account"
    }
  ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ data['title'] }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>You have completed {{ completeTotal }} of 6 tasks</p>
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Write requirements
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./">
                Title
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              {% if data['complete-school'] == "true" %}
              <a class="app-task-list__task-name" href="school-info/check-answers">
               Provide school information
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
              {% else %}
              <a class="app-task-list__task-name" href="school-info/name">
               Provide school information
              </a>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data['complete-description'] == "true" %}
              <a class="app-task-list__task-name" href="description/check-answers">
                Description of what you want
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
              {% else %}
              <a class="app-task-list__task-name" href="description/category">
                Description of what you want
              </a>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if data['complete-upload'] == "true" %}
              <a class="app-task-list__task-name" href="upload/">
                Upload specification and supporting documents
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
              {% else %}
              <a class="app-task-list__task-name" href="upload/">
                Upload specification and supporting documents
              </a>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Set how you&rsquo;ll evaluate suppliers
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data['complete-evaluation'] == "true" %}
              <a class="app-task-list__task-name" href="evaluate/check-answers">
                Describe evaluation process
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
              {% else %}
              <a class="app-task-list__task-name" href="evaluate/how">
                Describe evaluation process
              </a>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Publish requirements
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if completeTotal >= 5 %}
              <a class="app-task-list__task-name" href="publish">
                Review and publish your requirements
              </a>
              {% else %}
              <a class="app-task-list__task-name" href="not-yet">
                Review and publish your requirements
              </a>
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="govuk-grid-column-one-third">
      <p class="govuk-!-margin-top-5">
        <a href="#0" class="link-delete">Delete draft requirements</a>
      </p>
    </div>
  </div>

{% endblock %}
