{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">School procurement</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<style>
@media (min-width: 40.0625em) {
  .govuk-heading-xl {
    font-size: 36px;
  }
  .govuk-heading-l {
    font-size: 27px;
    margin-top: 45px;
  }
}
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-xl">
        Buying electricity for your school
      </h1>
      <p class="govuk-body-l">Use this guide to find the best solution for the electricity requirements of your school or multi-academy trust (MAT).</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s govuk-!-margin-bottom-7">
        Published 22 January 2019<br>
        Last updated 29 January 2019 — <a href="#">see all updates</a><br>
        From: <a href="#">Department for Education</a>
      </p>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
        <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">

          <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>

          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#gather">Gathering information</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#choose">Choose a pricing solution</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#find">Find the right way to buy</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#choose">Choosing a procurement model</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#next">Next steps</a>
            </li>
          </ol>
        </nav>

      </aside>

      <h2 class='govuk-heading-l' id="gather">
        Gathering information
      </h2>

      <p>To get the best electricity solution for your school, you need to gather certain information that can be found on your electricity bill.</p>

      <p>Regardless of which way you buy, you'll need to include the following information:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>billing address</li>
        <li>supply address and postcode</li>
        <li>expiry date of current agreement</li>
        <li>full supply number (S or MPAN number)</li>
        <li>if you&rsquo;re eligible for a reduced rate VAT on your energy bills</li>
      </ul>


      <h3 class='govuk-heading-s'>
        Your meter information
      </h3>

      <p>There are two types of meters: half hourly or non-half hourly metered. If you&rsquo;re not sure which type you have, you can find out by checking the MPAN number on your energy bill.</p>

      <img src='/public/images/mpan-example.png' alt='Example of energy bill with MPAN highlighted' class='govuk-!-margin-bottom-3'>

      <p>The first two numbers after the S show which meter you have. If it&rsquo;s 00, it&rsquo;s a half hourly meter, any other number means it&rsquo;s a non-half hourly meter.</p>


      <p>If you have a non-half hourly meter you will need to include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>actual or estimated annual consumption in kilowatt-hour (kWh)</li>
        <li>whether the supply has an automatic meter reader (AMR) or smart meter fitted</li>
      </ul>

      <p>If you have a half hourly meter you will need to include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>12 months&rsquo; half hourly consumption data in kWh &ndash; you can get this from your existing provider</li>
        <li>authorised Supply Capacity in Kilovolt-amp (kVa)</li>
        <li>whether the supply is high or low voltage (HV or LV)</li>
        <li>name of meter operator</li>
      </ul>




      <h2 class='govuk-heading-l' id="choose">
        Choose a pricing solution
      </h2>

      <p>There are lots of different contract and pricing solutions available from providers. Only around 50% of your electricity bill is made up of costs that the provider can influence, such as the cost of electricity and managing the contract. The rest of the bill is made up of transmission and distribution (network costs) set by Ofgem and other costs fixed by the government. </p>

      <p>Each provider has different pricing solutions, versions of which will vary, so make sure you understand the details of the offers and make a choice which best suits your needs. These include, but are not limited to: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>fully fixed prices &ndash; provider fixes costs per kWh throughout length of contract, including the network costs</li>
        <li>fixed electricity costs &ndash; price of electricity per kWh is fixed for length of contract, but network costs may change if Ofgem approves changes (the provider will notify customer of cost changes)</li>
        <li>variable or flexible electricity costs &ndash; provider purchases electricity in blocks before and during the length of contract, the price you pay for electricity varies during the length of the contract (network charges will normally be passed through for these contracts)</li>
      </ul>





      <h2 class='govuk-heading-l' id="find">
        Find the right way to buy
      </h2>

      <p>It&rsquo;s important to find the right way to buy depending on your circumstances. Here are three suggestions:</p>


      <h3 class='govuk-heading-s'>
        Compare and switch sites
      </h3>

      <div class="cta-box">
        <p>The Department for Education (DfE) has worked with CCS to develop <a href="https://schoolswitch.crowncommercial.gov.uk/#!/home">School Switch</a> &ndash; a free online comparison and switch service tailored for schools.</p>
      </div>

      <p>Switch sites allow you to input your energy use details and compare with different providers. These price comparison sites compare energy prices and help you switch energy provider, like the ones you might use at home for your domestic energy supply.</p>

      <p>Unlike domestic supply switch services, you as the customer are responsible for terminating your current contract when switching. You need to be aware of the end date and required notice period of your current contract.</p>



      <h3 class='govuk-heading-s'>
        Use a framework
      </h3>

      <div class="cta-box">
        <p>DfE reviews a range of frameworks. These are assessed for compliance with procurement regulations, ease of use, suitability and value for money.</p>
        <p><a href="/service/start">{{ serviceName }}</a>.</p>
      </div>

      <p>If you use an energy framework, your usage will form part of an aggregated purchase by the framework provider. This gives the provider combined purchasing power and the ability to secure better energy pricing and lower supplier management fees.</p>

      <p>Buying from a framework is usually quicker and easier than getting bids or quotes because the agreements:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have already been through a full competitive tender process</li>
        <li>have been quality checked</li>
        <li>are checked to make sure they comply with the law</li>
        <li>may have draft specifications and help available</li>
      </ul>





      <h3 class='govuk-heading-s'>
        Use an energy consultant or broker
      </h3>
      <p>Running an energy procurement can be complicated. Many schools use an energy consultant or broker, sometimes referred to as Third Party Intermediaries (TPI).</p>

      <p>A TPI may conduct a full OJEU compliant procurement on your behalf, which is open for the energy market to compete or they may approach suppliers directly to request quotes for your energy. </p>

      <p>When using a TPI, you may be charged a one-off fee for their support or an additional cost per kWh added to your energy bill. This is paid to the TPI via your supplier. If there is an additional cost per kWh, you need to calculate this across the length of the contract to understand the full cost of the services provided. </p>


      {{ govukInsetText({
        html: "<h4 class='govuk-heading-s'>Calculating the cost of a TPI</h4><p><strong>Pence/kWh v annual consumption (kWh) &times; number of years (length of contract) &equals; cost</strong></p>",
        classes: "govuk-example"
      }) }}

      <p>A TPI should provide written confirmation of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>charges and how they will be billed.</li>
        <li>how they will compete your energy requirements</li>
        <li>how many suppliers they will approach on your behalf.</li>
        <li>evidence they comply with the Ofgem voluntary principles</li>
      </ul>

      <p>A TPI will ask you to provide them with a letter of authority (LoA). Usually this is a template which you&rsquo;ll be asked to print and sign on your letterhead. </p>

      <p>This is normal practice and is needed so they can request current and historical consumption data, meter reference numbers and contract end dates from your current suppliers. This also gives them access to data from third-party industry databases and to request prices on your behalf.</p>

      <p>The LoA should not give the TPI permission to sign or agree contracts on your behalf. It should not have a duration longer than what&rsquo;s needed to gather the information required.</p>

      <p>If you decide to accept one of the offers submitted to you by the TPI, you should then be issued with a contract from the energy supplier.</p>






      <h2 class='govuk-heading-l' id="choose">
        Choose a procurement model
      </h2>

      <p>Once you&rsquo;ve chosen the right route to buy you need to decide what type of contract you want to select.</p>

      <h3 class='govuk-heading-s'>
        For switch sites
      </h3>
      <p>For a single school your choice will be about the length of contract you want: 12, 24 or 36 months.</p>

      <p>If you&rsquo;re a MAT you may want to combine your sites and get bespoke aggregated quotations with the choice of contract length.</p>


      <h3 class='govuk-heading-s'>
        For frameworks
      </h3>
      <p>There are a number of contract types to choose from with different levels of support available. Look at the different options and decide which best fits your needs.</p>

      <p>You need to consider: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if you want fixed pricing so you know at the start of each contract year your cost/kWh</li>
        <li>if you&rsquo;re prepared to accept flexible/variable pricing &ndash; the cost/Kwh will not be the same every month, but in the long term your total costs could be lower</li>
        <li>how long you&rsquo;re prepared to commit for</li>
        <li>what level of support you need &ndash; can you gather the required information and complete the documents yourself or do you want the framework provider to get the information and help you with the documents?</li>
      </ul>





      <h2 class='govuk-heading-l' id="next">
        Next steps
      </h2>

      <h3 class='govuk-heading-s'>
        Use a business case template
      </h3>
      <p>You should use the <a href="0">business case template</a> if you need to get approval from your school leadership team before you buy.</p>

      <h3 class='govuk-heading-s'>
        Documentation for frameworks
      </h3>
      <p>You should always use the documentation provided with the framework so you&rsquo;re covered by the terms and conditions and get the best price available.</p>

      <div class="cta-box">
        <p><a href="https://www.gov.uk/government/collections/buying-for-schools"> Procurement templates and guidance</a> are also available.</p>
      </div>






      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body-s">
        Published 26 March 2015<br>
        Last updated 20 December 2018 <a href="#0">+ show all updates</a>
      </p>

      <a class="app-c-back-to-top dont-print" href="#contents">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Contents
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items app-related-items--small" role="complementary">
        <h2 class="govuk-heading-s">
          Related content
        </h2>
        <!-- <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.gov.uk/government/collections/buying-for-schools">
              Buying for schools: templates and forms
            </a>
          </li>
        </ul> -->
        <h3 class="govuk-body-s">
          Collection
        </h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="/collection/">
              Buying for schools: category guidance
            </a>
          </li>
        </ul>
      </aside>

    </div>
  </div>
{% endblock %}
