{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">School procurement</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">
        {{ serviceName }}
      </h1>
      <p class="govuk-body-l">Use this step-by-step guide to get the best value (academically and financially) from the books and learning materials you purchase for your school or Multi Academy Trust (MAT).</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s govuk-!-margin-bottom-7">
        Published 22 January 2019<br>
        Last updated 29 January 2019 — <a href="#">see all updates</a><br>
        From: <a href="#">Department for Education</a>
      </p>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
        <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">

          <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>

          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#gather">Gather information about the product </a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#find">Find the right way to buy</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#0">Choosing the right supplier</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#0">Next steps</a>
            </li>
          </ol>
        </nav>

      </aside>

      <h2 class='govuk-heading-l' id="gather">
        1. Gather information about the product
      </h2>

      <p>First, you need to write a description of what you want to buy and share it with suppliers. Being clear with suppliers about your requirements will save time and money and ensure you purchase the right product for your pupils. This is called a list of specifications. This will help identify what problem you want to solve or gap you need to fill.</p>

      <p>Before you write your list:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what educational need(s) are you addressing?</li>
        <li>are you looking for complete, coherent curriculum resources, revision guides, Certified Professional Development (CPD) assessment materials or intervention materials?</li>
        <li>are you looking for reading schemes, subscriptions, printed resources (fiction, non-fiction), digital (e-books) or a combination of both?</li>
        <li>was there anything you liked or disliked about the resources you’ve used in the past? What worked well and what didn’t?</li>
        <li>how will the new resource be used in your existing schemes of work?</li>
        <li>is the resource a complete, coherent programme with wrap around teaching support or will it support an existing programme?</li>
        <li>get advice from colleagues, peers, subject associations and teaching hubs by following subject groups and influential teachers on Twitter and other social media forums such as UKEdChat (<a href="https://twitter.com/ukedchat">@ukedchat</a>)</li>
        <li>most publishers offer information about curriculum programmes and resources on their websites or  are happy to visit your school to provide a demonstration</li>
        <li>teaching magazines and online teaching resources offer extensive reviews of many resources and often profile new publishing resources</li>
        <li>exam boards provide lists of recommended resources for use in teaching their specifications</li>
      </ul>

      <p>You can also combine budgets across several departments, schools or even across an entire MAT to aggregate costs. This will make you a more attractive customer to suppliers, and in turn, they’re likely to offer you more generous discounts. If you’re not already linked with your local schools and would like to be, sign up to the <a href="https://www.gov.uk/government/publications/join-or-create-a-network-for-school-business-professionals/school-business-professional-networks-directory">School Business Professional Networks</a>.</p>




      <h2 class='govuk-heading-l' id="find">
        2. Find the right way to buy
      </h2>

      <h3 class='govuk-heading-m'>
        Use an existing framework
      </h3>
      <p><a href="https://www.gov.uk/guidance/buying-for-schools/find-the-right-way-to-buy">Find out more about frameworks and how to use them</a>.</p>

      <p>The <a href="https://www.gov.uk/government/publications/deals-for-schools/deals-for-schools">deals for schools</a> will direct you to frameworks that have been recommended by the Department of Education (DfE) for their ease of access, recommendations from schools and value for money. </p>

      <h4 class='govuk-heading-s'>
        Benefits of using a framework
      </h4>
      <p>Using a framework is a commercially compliant, good value for money route in which all suppliers have been assessed for use in the public sector and schools. </p>

      <p>Both frameworks recommended below let you choose any supplier who is on the framework without comparing prices with other suppliers. This is beneficial if you don’t have much time or if you’d like to purchase one or two low-cost items. This is known as a direct award. </p>

      <p>If you expect to spend a large amount of your budget or have complicated specifications, you’ll benefit from comparing offers across a range of suppliers. This is called a further competition. As this process can last several weeks, you might find it helpful to contact ESPO and Crescent Purchasing Consortium who will guide you through the process. This may take longer, but lets you compare prices across several suppliers to secure the best value regarding book price and service offered by the supplier. </p>

      <p>If you want to buy:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>adult and children’s books</li>
        <li>e-books and e-audiobooks (including fiction, non-fiction, curriculum material and educational software)</li>
        <li>CDs and DVDs</li>
      </ul>
      <p>The DfE recommend the <a href="https://www.espo.org/Pages/Books-for-schools-framework-376E-guide">Books and Related Materials framework from ESPO</a>.</p>

      <p>If you want to buy:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>academic books</li>
        <li>professional books and publications</li>
        <li>learning aids</li>
        <li>e-books</li>
        <li>newspapers</li>
        <li>journals</li>
        <li>periodicals</li>
        <li>e-journals</li>
        <li>audio books</li>
        <li>library services</li>
      </ul>
      <p>The DfE recommend the <a href="https://www.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=6&frameworkID=177">Library Resources framework from Crescent Purchasing Consortium</a>. For purchases below £181,302, this framework offers a free and easy-to-use e-quote tool to simplify the process. </p>



      <h3 class='govuk-heading-m'>
        Use a catalogue or third party supplier
      </h3>
      <p>If your preferred resources are not available via a framework or if you’re looking to purchase a small or urgent order of books, you may want to compare third party suppliers or wholesalers. </p>

      <p>There are many educational suppliers able to provide a range of books and related materials such as reading schemes and classroom books. These can often be accessed via physical or online catalogues. Before you use this route, make sure you’ve obtained at least three quotes from a range of suppliers and investigated them to get the best value for money. Don’t be afraid to negotiate lower prices or enhanced support from suppliers.</p>


      <h3 class='govuk-heading-m'>
        Buy direct from publishers
      </h3>
      <p>If your preferred resources are not available via a framework or if you’d like support with selecting the right resource for your school, you may choose to invite several publishers to give advice on which resources would suit your specifications. If you subject area is complex and you feel you’d benefit from a wider service package (including implementation support and training), you can contact sales leads via each publisher’s website.</p>

      <p>Selecting this route means you’ll need to lead your own procurement. You can find step-by-step guidance to support you through this process here.</p>

      <p>Publishers are happy to help you make an informed decision about both the type of resource and the cost. Many publishers also offer a free auditing service where a sales representative visits your school to assess existing books and materials before advising on any other resources that could add value. Using this free service could help save you money if you have resources which could be used differently or complemented with a few top-up materials.</p>

      <p>Many major educational publishers will help you aggregate funds with other MATs to gain greater discounts. Even if it’s a single purchase, it’s worth negotiating discounts and comparing quotes between publishers to achieve the best value for money. This could this be through purchase price or a support package alongside your purchase that would be helpful for your school, teacher or pupil development.</p>

      <p>For example, if you’re investing in a long-term purchase, consider the possibility of securing an agreed discount for top-ups of resources in the following years.</p>




      <h2 class='govuk-heading-l' id="find">
        3. Choosing the right supplier
      </h2>

      <p>Once you’ve found the right route to buy, you can use a supplier scorecard to help you weigh up what’s most important for your school when selecting a supplier for your resources. </p>

      <p>To support your decision to select a supplier and consider how well the book or related curriculum material matches your specifications, you should consider the following questions:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>does this product offer the level of curriculum support or spec coverage you’re looking for?</li>
        <li>does it match the needs of your whole curriculum programme(s) and your students?</li>
        <li>what’s the cost per pupil, class and year?</li>
        <li>how does the cost compare to similar products or initiatives targeting the same problem or offering the same service?</li>
        <li>it’s important to compare the post-sales service and support offered by each supplier – is there an ongoing cost attached to this and can this be budgeted for?</li>
      </ul>



      <h2 class='govuk-heading-l' id="find">
        4. Next steps
      </h2>
      <p>Before making the purchase, you may need to fill in a business case for your school leadership team. You can download our simple template here. If you do not control your budget, make sure you’ve spoken to the person responsible for this so you have available funds to make the purchase.</p>

      <p>If you’ve chosen to use a framework, make sure you use the documentation provided by the framework guidance as this will ensure you’re covered under the framework terms and conditions and given the best price available. </p>

      <p>If you’re not using a framework, the DfE has put together <a href="https://www.gov.uk/government/collections/buying-for-schools">procurement templates and guidance</a> to support you. </p>

      <p>To keep informed about applications for additional funding or programmes that can support your school, <a href="https://www.gov.uk/government/email-signup/new?email_signup%5Bfeed%5D=https://www.gov.uk/government/organisations/department-for-education.atom">sign up to email alerts from the Department of Education</a>.</p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body-s">
        Published 26 March 2015<br>
        Last updated 20 December 2018 <a href="#0">+ show all updates</a>
      </p>

      <a class="app-c-back-to-top dont-print" href="#contents">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Contents
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items gem-c-related-navigation" role="complementary" style="margin-top: 0">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#0">
                Deals for schools
              </a>
            </li>
            <li>
              <a href="#0">
                Supporting excellent school resource management
              </a>
            </li>
            <li>
              <a href="#0">
                Trends in school spending: 2002 to 2016
              </a>
            </li>
            <li>
              <a href="#0">
                School procurement: expression of interest form
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
