{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">School procurement</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<style>
@media (min-width: 40.0625em) {
  .govuk-heading-xl {
    font-size: 36px;
  }
  .govuk-heading-l {
    font-size: 27px;
    margin-top: 45px;
  }
}
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-xl">
        Buying books and related materials
      </h1>
      <p class="govuk-body-l">Use this guide to get the best value (academically and financially) from the books and learning materials purchased for your school or Multi Academy Trust (MAT).</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s govuk-!-margin-bottom-7">
        Published 22 January 2019<br>
        Last updated 29 January 2019 — <a href="#">see all updates</a><br>
        From: <a href="#">Department for Education</a>
      </p>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
        <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">

          <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>

          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#gather">Gather information about what you want to buy</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#find">Find the right way to buy</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#choose">Choosing the right supplier</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#next">Next steps</a>
            </li>
          </ol>
        </nav>

      </aside>

      <h2 class='govuk-heading-l' id="gather">
        1. Gather information about what you want to buy
      </h2>

      <p>First, write your specification. A specification is a description of what you want to buy. It will be shared with suppliers. Being clear with suppliers about your requirements will save time, money and ensure you get the right products for your pupils.</p>

      <p>When writing a specification, think about what educational needs you’re addressing.</p>

      <p>You might want to consider: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>are you looking for assessment or intervention materials?</li>
        <li>do you need reading schemes, subscriptions, printed resources (fiction and non-fiction), digital (e-books) or a combination of both?</li>
        <li>how will the new resource be used? </li>
        <li>is the resource a complete, coherent programme or will it support an existing programme?</li>
      </ul>

      <p>To get discounts from suppliers, you can combine budgets across several departments, schools or an entire MAT. If you’re not already linked with your local schools and would like to be, sign up to the <a href="https://www.gov.uk/government/publications/join-or-create-a-network-for-school-business-professionals/school-business-professional-networks-directory">School Business Professional Networks</a>.</p>

      <p>For more support, get advice from colleagues, peers, subject associations and teaching hubs by following subject groups and influential teachers on Twitter, such as <a href="https://twitter.com/ukedchat">@ukedchat</a>.</p>




      <h2 class='govuk-heading-l' id="find">
        2. Find the right way to buy
      </h2>

      <h3 class='govuk-heading-m'>
        Use a framework
      </h3>

      <p>Buying from a framework will usually be quicker and easier than getting bids or quotes because the agreements:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have already been through a full competitive tender process</li>
        <li>have been quality checked</li>
        <li>are checked to make sure they comply with the law</li>
        <li>may have draft specifications and help available</li>
      </ul>

      <p>You can <a href="/service/">find a DfE recommended framework</a> by the Department of Education (DfE) for ease of access, recommendations from schools and value for money.</p>





      <h3 class='govuk-heading-m'>
        Use a catalogue or third party supplier
      </h3>

      <p>If your preferred resources are not available via a framework or if you’re looking to purchase a small or urgent order of books, you may want to compare third party suppliers or wholesalers. You can research these online or select an educational trade supplier recommended by the <a href="https://www.besa.org.uk/">British Educational Suppliers Association</a>.</p>

      <p>Before you use this route, make sure you’ve obtained at least three quotes from a range of suppliers and investigated them to get the best value for money. Don’t be afraid to negotiate lower prices or enhanced support from suppliers.</p>






      <h3 class='govuk-heading-m'>
        Buy direct from publishers
      </h3>
      <p>If you need help selecting the right thing for your school, you can invite publishers to give advice on which resources would suit your specifications. You can also contact sales leads via each publisher’s website or <a href="https://publishers.org.uk/about-us/members-and-affiliates/">The Publishers Association</a>.</p>

      {{ govukInsetText({
          html: 'Selecting this route means you’ll need to lead your own procurement, you can find step-by-step guidance to <a href="https://www.gov.uk/government/collections/buying-for-schools">support you through the procurement process</a>.'
      }) }}

      <p>Many publishers can help aggregate funds with other schools and academies to save you money. Even if it’s a single purchase, it’s worth negotiating discounts and comparing quotes between publishers to achieve the best value for money. </p>

      <p>For example, if you’re investing in an ongoing contract, consider securing an agreed discount for top-ups in the future.</p>





      <h2 class='govuk-heading-l' id="choose">
        3. Choosing the right supplier
      </h2>

      <p>Once you’ve found the right route to buy, use a <a href="https://www.gov.uk/government/publications/school-procurement-bid-evaluation-scoring-summary">supplier scorecard</a> to compare suppliers' bids during a procurement process.</p>

      <p>Consider the following when comparing suppliers:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>do they offer the level of curriculum coverage and support you need?</li>
        <li>do they match the needs of your school and students?</li>
        <li>what’s the cost per pupil, class and year?</li>
        <li>how does the cost compare to similar products?</li>
        <li>do they offer a post-sales service and is there an ongoing cost?</li>
      </ul>



      <h2 class='govuk-heading-l' id="next">
        4. Next steps
      </h2>

      <p>Before making your purchase, you may need to put forward a business case for your school leadership team – you can use a <a href="0">business case template</a>.</p>

      <p>If you’ve chosen to use a framework, use the documentation provided. This makes sure you’re covered under the terms and conditions and given the best price available.</p>

      <p>DfE has put together <a href="https://www.gov.uk/government/collections/buying-for-schools">procurement templates and guidance</a> to support you.</p>

      <p>To stay informed about applications for additional funding or programmes that can support your school, <a href="https://www.gov.uk/government/email-signup/new?email_signup%5Bfeed%5D=https://www.gov.uk/government/organisations/department-for-education.atom">sign up to email alerts from the Department of Education</a>.</p>





      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body-s">
        Published 26 March 2015<br>
        Last updated 20 December 2018 <a href="#0">+ show all updates</a>
      </p>

      <a class="app-c-back-to-top dont-print" href="#contents">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Contents
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items app-related-items--small" role="complementary">
        <h2 class="govuk-heading-s">
          Related content
        </h2>
        <!-- <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.gov.uk/government/collections/buying-for-schools">
              Buying for schools: templates and forms
            </a>
          </li>
        </ul> -->
        <h3 class="govuk-body-s">
          Collection
        </h3>
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="/collection/">
              Buying from a framework for schools
            </a>
          </li>
        </ul>
      </aside>

    </div>
  </div>
{% endblock %}
