{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['budget'] == 'Under £40,000' %}
        {% include "includes/tender-small.html" %}
      {% elif data['budget'] == '£40,000 to £1800,000' %}
        {% include "includes/tender-medium.html" %}
      {% elif data['budget'] == 'Over £1800,000' %}
        {% include "includes/tender-large.html" %}
      {% endif %}

    </div>
  </div>
{% endblock %}
