{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="flash-card">
        <span class="govuk-caption-l">Fairly assess all bids</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
          How to choose the winning bid
        </h1>

        <p>Assess the bids using the award criteria you sent out in your invitation to tender.</p>

        <p>You must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>not open any bids before the deadline</li>
          <li>treat all bids fairly and equally</li>
          <li>record how you made decisions so you can defend them if you have to</li>
          <li>keep confidential, secure, auditable records</li>
          <li>award the contract to the highest scoring bidder</li>
        </ul>

        <h2 class="govuk-heading-m">
          Keeping records
        </h2>
        <p>Keep a record of all scores, comments and moderation decisions. Frameworks usually have a system for this. You can use a spreadsheet or there’s also software you can buy.</p>

        <p class="doc-icon govuk-!-margin-top-7">Download our <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/496437/Exemplar_Bid_Evaluation_Scoring_Summary.xlsx">example score sheet</a>.</p>

        {{ govukButton({
            text: 'Finished',
            href: '../',
            classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0'
        }) }}

      </div>

    </div>
  </div>
{% endblock %}
