{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Assessment methods
          </dt>
          <dd class="app-check-your-answers__answer">
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>Written proposal</li>
              {% for how in data['eval-how'] %}
              <li>{{ how }}</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="how">
              Change
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Essential skills and experience
          </dt>
          <dd class="app-check-your-answers__answer">
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>{{ data['essential-1'] }}</li>
              {% if data['essential-2'] %}
              <li>{{ data['essential-2'] }}</li>
              {% endif %}
              {% if data['essential-3'] %}
              <li>{{ data['essential-3'] }}</li>
              {% endif %}
              {% if data['essential-4'] %}
              <li>{{ data['essential-4'] }}</li>
              {% endif %}
              {% if data['essential-5'] %}
              <li>{{ data['essential-5'] }}</li>
              {% endif %}
            </ul>
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="essential">
              Change
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Nice-to-have skills and experience
          </dt>
          <dd class="app-check-your-answers__answer">
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% if data['nice-1'] %}
              <li>{{ data['nice-1'] }}</li>
              {% endif %}
              {% if data['nice-2'] %}
              <li>{{ data['nice-2'] }}</li>
              {% endif %}
              {% if data['nice-3'] %}
              <li>{{ data['nice-3'] }}</li>
              {% endif %}
              {% if data['nice-4'] %}
              <li>{{ data['nice-4'] }}</li>
              {% endif %}
              {% if data['nice-5'] %}
              <li>{{ data['nice-5'] }}</li>
              {% endif %}
            </ul>
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="essential">
              Change
            </a>
          </dd>
        </div>
      </dl>

      <form action='../task-list' method='post' class='form' autocomplete='off'>
        {{ govukInput({
          name: 'complete-evaluation',
          value: "true",
          type: 'hidden'
        }) }}

        {{ govukButton({
          text: "Save evaluation process"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
