{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="flash-card">
        <span class="govuk-caption-xl">Award the contract</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
          Feedback to unsuccessful suppliers
        </h1>

        <p>If an unsuccessful bidder asks for further feedback, you do not have to give it. If you do, you should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>only comment on their bid &ndash; do not share details of anyone else&rsquo;s</li>
          <li>try to give positive feedback</li>
        </ul>

        <p>Our advice is to avoid feedback meetings. If you do decide to meet face-to-face, keep notes during the meeting and have more than one member of staff present.</p>

        {{ govukButton({
            text: 'Continue',
            href: 'sign',
            classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0'
        }) }}

      </div>

    </div>
  </div>
{% endblock %}
