{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="flash-card">
        <span class="govuk-caption-l">Award the contract</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
          Notify suppliers
        </h1>

        <p>Send a letter to all bidders at the same time. The letter should include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the name of the winning bidder</li>
          <li>award criteria used</li>
          <li>scores for the winning bid</li>
          <li>relative advantages of the winning bidder</li>
          <li>when the standstill period ends, if you have one</li>
          <li>unsuccessful bidders&rsquo; scores and feedback</li>
        </ul>

        <p class="doc-icon govuk-!-margin-top-7">Download one of our <a href="https://www.gov.uk/government/publications/school-procurement-example-letters-for-the-tender-process" target="_blank">example letters</a>.</p>

        {{ govukButton({
            text: 'Continue',
            href: 'standstill',
            classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0'
        }) }}

      </div>

    </div>
  </div>
{% endblock %}
