{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="flash-card">
        <span class="govuk-caption-l">Award the contract</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
          Sign the contract
        </h1>

        <p>After the standstill period, tell the successful supplier you&rsquo;re placing the contract with them. Your school or organisation and the supplier should then sign the contract.</p>

        <p>The contract&rsquo;s terms and conditions (or &lsquo;service order terms&rsquo;) are set as part of the framework agreement so you should not change them. You can only add in things you agreed as part of the buying process.</p>

        {{ govukButton({
            text: 'Finished',
            href: '../',
            classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0'
        }) }}

      </div>

    </div>
  </div>
{% endblock %}
