{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="flash-card">
        <span class="govuk-caption-xl">Award the contract to the winning supplier</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
          Standstill period
        </h1>

        <p>We recommend that you have a standstill period of at least 10 days between telling the bidders your decision and formally awarding the contract. It gives time for any unsuccessful supplier to challenge the decision if they believe it&rsquo;s unfair.</p>

        <p>If the period ends on a non-working day, extend it to the end of the next working day.</p>

        {{ govukButton({
            text: 'Continue',
            href: 'feedback',
            classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0'
        }) }}

      </div>

    </div>
  </div>
{% endblock %}
