{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sign in to your account
      </h1>

      {% if data['si-create'] == 'true' %}
      <form action='../create/' method='post' class='form' autocomplete='off'>
      {% else %}
      <form action='../account' method='post' class='form' autocomplete='off'>
      {% endif %}

        {{ govukInput({
         label: {
           text: 'Email address'
         },
         type: 'email',
         hint: {
           text: ''
         },
         id: 'signin-email',
         name: 'signin-email',
         classes: 'govuk-input--width-30'
        }) }}

        {{ govukInput({
         label: {
           text: 'Password'
         },
         type: 'password',
         hint: {
           text: ''
         },
         id: 'signin-password',
         name: 'signin-password',
         classes: 'govuk-input--width-30'
        }) }}

        {{ govukInput({
          name: 'signedin',
          value: "true",
          type: 'hidden'
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}

        <p class="govuk-!-margin-bottom-8">
          <a href="#0">Forgotten your password?</a>
        </p>

      </form>

      <h2 class='govuk-heading-m'>
        Don&rsquo;t have an account?
      </h2>
      <p>You&rsquo;ll need to <a href="#0">create an account</a> before you can post an advert.</p>

    </div
  </div>
{% endblock %}
