{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Gather information and requirements
      </h1>

      <p>Before you start:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>talk to people who will use the thing you plan to buy – to make sure you get what they need</li>
        <li>talk to people who will approve the purchase</li>
        <li>talk to suppliers – to get an idea of prices and what’s available</li>
        <li>think about whether you need expert help with writing your specification or the whole buying process</li>
      </ul>

      {{ govukButton({
        text: 'Continue',
        href: "task-list",
        classes: "govuk-button"
      }) }}

    </div>
  </div>
{% endblock %}
