{% extends "layout.html" %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">School and academy financial management and assurance</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">School procurement</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Create a school purchase specification
      </h1>

      <!-- <p>No matter what procurement process you use, always write a specification describing what you want to buy. It helps to make decisions later and tells suppliers exactly what you need.</p> -->

      <p>Use this service to create a specification which includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a precise description of what you need</li>
        <li>an explanation of what it should do, if needed</li>
        <li>the amount you need</li>
        <li>quality it should be</li>
        <li>when you need it</li>
      </ul>

      {{ govukButton({
        text: 'Start now',
        href: "task-list",
        classes: "govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>talk to people who will use the thing you plan to buy – to make sure you get what they need</li>
        <li>talk to people who will approve the purchase</li>
        <li>talk to suppliers – to get an idea of prices and what’s available</li>
        <li>think about whether you need expert help with writing your specification or the whole buying process</li>
      </ul>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/government/publications/deals-for-schools/deals-for-schools">
                Deals for schools
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
