{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Before you start
          </h2>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="before">
                Gather information and requirements
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
            </li>
          </ul>
        </li>





        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Prepare specification
          </h2>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data['school-information-complete'] %}
              <a class="app-task-list__task-name" href="school-information/check-your-answers">
                Provide school information
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
              {% else %}
              <a class="app-task-list__task-name" href="school-information/number-of-schools">
                Provide school information
              </a>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if data['requirements-complete'] %}
              <a class="app-task-list__task-name" href="requirements/check-your-answers">
                Your requirements
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
              {% else %}
              <a class="app-task-list__task-name" href="requirements/type">
                List requirements
              </a>
              {% endif %}
            </li>

            {# <li class="app-task-list__item">
              {% if data['policies-complete'] %}
              <a class="app-task-list__task-name" href="policies/check-your-answers">
                Provide policies
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
              {% else %}
              <a class="app-task-list__task-name" href="policies/name">
                Provide policies
              </a>
              {% endif %}
            </li> #}

            <li class="app-task-list__item">
              {% if data['response-complete'] %}
              <a class="app-task-list__task-name" href="response/check-your-answers">
                How suppliers should respond
              </a>
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
              {% else %}
              <a class="app-task-list__task-name" href="response/name">
                List supplier response criteria
              </a>
              {% endif %}
            </li>
          </ul>
        </li>





        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Finish
          </h2>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data['school-information-complete'] and data['requirements-complete'] and data['response-complete'] %}
              <a class="app-task-list__task-name" href="preview/">
                View and download specification
              </a>
              {% else %}
                View and download specification
              {% endif %}
            </li>
          </ul>
        </li>

      </ol>

    </div>
  </div>

{% endblock %}
