{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['category'] == 'Office supplies' %}
        {% include "includes/catalogue-office-supplies.html" %}
      {% elif data['category'] == 'ICT' %}
        {% include "includes/catalogue-ict.html" %}
      {% endif %}

    </div>

    <div class="govuk-grid-column-two-thirds">
      {% include "includes/answers.html" %}
    </div>
  </div>
{% endblock %}
