{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "summary"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action='date' method='post' class='form' autocomplete='off'>

        {% set budgetHTML %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="budget">
            What&rsquo;s your budget?
          </label>
          <span id="budget-hint" class="govuk-hint">
            Excluding VAT.
          </span>
          <div class="govuk-currency-input">
            <div class="govuk-currency-input__inner">
              <span class="govuk-currency-input__inner__unit">£</span>
              <input class="govuk-input govuk-input--width-10 / govuk-currency-input__inner__input" name="budget" data-non-numeric type="text" id="budget" aria-describedby="budget-hint" pattern="[0-9]\d*(\.\d+)?" value="{{ data['budget'] }}">
            </div>
          </div>
        </div>
        {% endset -%}

        {{ govukRadios({
          idPrefix: 'budget-check',
          name: 'budget-check',
          fieldset: {
            legend: {
              text: 'Do you have a budget?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
            }
          },
          hint: {
            text: ''
          },
          items: [
            {
              value: 'Yes',
              text: 'Yes',
              conditional: {
                html: budgetHTML
              },
              checked: checked('budget-check', 'Yes')
            },
            {
              value: 'No',
              text: 'No',
              checked: checked('budget-check', 'No')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div
  </div>
{% endblock %}
