{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Summary
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['summary'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="summary">
              Change
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Budget
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data['budget-check'] == "yes" %}
              {{ data['budget'] }}
            {% else %}
              Not listed
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="address">
              Change
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Closing date
          </dt>
          <dd class="app-check-your-answers__answer">
            {% set closingDate = data['closing-date-year'] + "-" + data['closing-date-month'] + "-" + data['closing-date-day'] %}

            {{ closingDate | date("D MMMM YYYY") }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="address">
              Change
            </a>
          </dd>
        </div>
      </dl>

      <form action='../task-list' method='post' class='form' autocomplete='off'>
        {{ govukInput({
          name: 'complete-description',
          value: "true",
          type: 'hidden'
        }) }}

        {{ govukButton({
          text: "Save school information"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
