{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "budget"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action='check-answers' method='post' class='form' autocomplete='off'>

        {{ govukDateInput({
          id: "closing-date",
          namePrefix: "closing-date",
          fieldset: {
            legend: {
              text: "When do you want to list your advert until?",
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
            }
          },
          hint: {
            text: "For example, 31 3 2018"
          },
          "items": [
            {
              "name": "day",
              "classes": "govuk-input--width-2",
              "value": data['closing-date-day']
            },
            {
              "name": "month",
              "classes": "govuk-input--width-2",
              "value": data['closing-date-month']
            },
            {
              "name": "year",
              "classes": "govuk-input--width-4",
              "value": data['closing-date-year']
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
