{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "name"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action='check-answers' method='post' class='form' autocomplete='off'>

        {% call govukFieldset({
          legend: {
            html: "What is the school&rsquo;s address?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "school-address-line-1",
            name: "school-address-line-1",
            classes: 'govuk-input--width-30',
            value: data['school-address-line-1']
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: "school-address-line-2",
            name: "school-address-line-2",
            classes: 'govuk-input--width-30',
            value: data['school-address-line-2']
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "school-address-town",
            name: "school-address-town",
            classes: 'govuk-input--width-20',
            value: data['school-address-town']
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "school-address-county",
            name: "school-address-county",
            classes: 'govuk-input--width-20',
            value: data['school-address-county']
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            id: "school-address-postcode",
            name: "school-address-postcode",
            classes: 'govuk-input--width-10',
            value: data['school-address-postcode']
          }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div
  </div>
{% endblock %}
