{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="flash-card">
        <span class="govuk-caption-xl">Send your invitation to the suppliers</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
          Use an expression of interest to cut the number of bidders
        </h1>

        <p>If you want to find out how many suppliers are interested in bidding then you can send an expression of interest (EOI) to them all. After doing this, you only need to send your invitation to suppliers who responded.</p>

        <p>Check the framework&rsquo;s rules first &ndash; not all of them allow this.</p>

        <p>Your EOI should include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an overview of your needs</li>
          <li>the size of your school</li>
          <li>how long the contract will last, with any important deadlines</li>
          <li>when they must respond by</li>
        </ul>

        <p class="doc-icon govuk-!-margin-top-7">You can download our <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/496501/Template_Expression_of_Interest_-_Feb_2016.docx">example EOI</a>.</p>

        {{ govukButton({
            text: 'Continue',
            href: 'send',
            classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0'
        }) }}

      </div>

    </div>
  </div>
{% endblock %}
