{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="flash-card">
        <span class="govuk-caption-xl">Send your invitation to the suppliers</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
          Contact the suppliers
        </h1>

        <p>You must send your invitation to tender to every supplier on the framework who can meet your needs, unless you have run an expression of interest process.</p>

        <p>Some framework providers have tools that allow you contact all of the suppliers, these are usually reffered to as quote tools.</p>

        {{ govukButton({
            text: 'Continue',
            href: 'questions',
            classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-0'
        }) }}

      </div>

    </div>
  </div>
{% endblock %}
