{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="type">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-your-answers" method="post" autocomplete="off">

        {{ govukTextarea({
          classes: '',
          name: 'response-assessment',
          id: 'response-assessment',
          rows: '5',
          label: {
            text: 'How will you assess the suppliers?',
            isPageHeading: true,
            classes: "govuk-label--xl"
          },
          hint: {
            text: 'For example, will there be criteria other than cost?'
          },
          value: data['response-assessment']
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
