{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class='govuk-heading-xl govuk-!-margin-bottom-1'>
        Supplier opportunities in schools
      </h1>
      <p>View requirements for goods and services.</p>
    </div>

    <div class="govuk-grid-column-one-third">
      {% include "includes/filters.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row govuk-card__flex-container">
        {% for opportunity in opportunities | reverse %}
        <div class="govuk-grid-column-full govuk-card__flex-item">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">

            <a href="{{ opportunity.title }}"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m">
                <a href="{{ opportunity.title }}">{{ opportunity.title }}</a>
              </h3>
              <ul class="govuk-list">
                <li><span class="govuk-!-font-weight-bold">School:</span> {{ opportunity.name }}</li>
                <li><span class="govuk-!-font-weight-bold">Location:</span> {{ opportunity.address.city }}</li>
              </ul>
              <p>{{ opportunity.summary }}</p>

            </div>

          </div>
        </div>
        {% endfor %}
      </div>

      <nav role="navigation">
        <ul class="previous-next-navigation">
          <li class="next">
            <a href="#0">
            Next <span class="visuallyhidden">page</span>
            <span class="page-numbers">2 of 24</span>
          </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
{% endblock %}
