{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Schools Marketplace",
      href: "../"
    },
    {
      text: "Opportunities",
      href: "../"
    }
  ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">{{ opportunity.name }}</span>
      <h1 class="govuk-heading-xl">{{ opportunity.title }}</h1>

      <h2 class='govuk-heading-l'>
        Overview
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Summary
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ opportunity.summary }}
          </dd>
        </div>

        {% if opportunity.budget %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Budget
          </dt>
          <dd class="app-check-your-answers__answer">
            £{{ opportunity.budget }}
          </dd>
        </div>
        {% endif %}

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Closing date
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ opportunity.date | date("D MMMM YYYY") }}
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            School the work is for
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ opportunity.name }}
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Location
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ opportunity.address.street }}
            {{ opportunity.address.street2 }}
            {{ opportunity.address.city }}
            {{ opportunity.address.county }}
            {{ opportunity.address.postcode }}
          </dd>
        </div>
      </dl>




      <h2 class='govuk-heading-l'>
        About the work
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Specification
          </dt>
          <dd class="app-check-your-answers__answer">
            <a href="#0">{{ opportunity.specification }}</a>
          </dd>
        </div>

        {% if opportunity.supporting %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Supporting document
          </dt>
          <dd class="app-check-your-answers__answer">
            <a href="#0">{{ opportunity.supporting }}</a>
          </dd>
        </div>
        {% endif %}
      </dl>




      <h2 class='govuk-heading-l'>
        How suppliers will be evaluated
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Assessment methods
          </dt>
          <dd class="app-check-your-answers__answer">
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>Written proposal</li>
              {% for how in opportunity.evaluation %}
              <li>{{ how }}</li>
              {% endfor %}
            </ul>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Essential skills and experience
          </dt>
          <dd class="app-check-your-answers__answer">
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% if opportunity.essential.one %}
              <li>{{ opportunity.essential.one }}</li>
              {% endif %}
              {% if opportunity.essential.two %}
              <li>{{ opportunity.essential.two }}</li>
              {% endif %}
              {% if opportunity.essential.three %}
              <li>{{ opportunity.essential.three }}</li>
              {% endif %}
              {% if opportunity.essential.four %}
              <li>{{ opportunity.essential.four }}</li>
              {% endif %}
              {% if opportunity.essential.five %}
              <li>{{ opportunity.essential.five }}</li>
              {% endif %}
            </ul>
          </dd>
        </div>

        {% if opportunity.nice %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Nice-to-have skills and experience
          </dt>
          <dd class="app-check-your-answers__answer">
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% if opportunity.nice.one %}
              <li>{{ opportunity.nice.one }}</li>
              {% endif %}
              {% if opportunity.nice.two %}
              <li>{{ opportunity.nice.two }}</li>
              {% endif %}
              {% if opportunity.nice.three %}
              <li>{{ opportunity.nice.three }}</li>
              {% endif %}
              {% if opportunity.nice.four %}
              <li>{{ opportunity.nice.four }}</li>
              {% endif %}
              {% if opportunity.nice.five %}
              <li>{{ opportunity.nice.five }}</li>
              {% endif %}
            </ul>
          </dd>
        </div>
        {% endif %}
      </dl>


      {{ govukButton({
        text: 'Apply for this opportunity',
        href: "#0",
        classes: "govuk-button--start "
      }) }}

    </div>
  </div>
{% endblock %}
