{{ govukRadios({
  classes: '',
  idPrefix: 'category',
  name: 'category',
  fieldset: {
    legend: {
      text: 'What services do you need?',
      isPageHeading: true,
      classes: 'govuk-fieldset__legend--xl'
    }
  },
  hint: {
    text: ''
  },
  items: [
    {
      value: 'Audit',
      text: 'Audit',
      checked: checked('category', 'Audit')
    },
    {
      value: 'Energy and utilities',
      text: 'Energy and utilities',
      checked: checked('category', 'Energy and utilities')
    },
    {
      value: 'Facilities management and estates',
      text: 'Facilities management and estates',
      checked: checked('category', 'Facilities management and estates')
    },
    {
      value: 'ICT',
      text: 'ICT',
      checked: checked('category', 'ICT')
    },
    {
      value: 'Legal',
      text: 'Legal',
      checked: checked('category', 'Legal')
    },
    {
      value: 'Professional',
      text: 'Professional',
      checked: checked('category', 'Professional')
    },
    {
      value: 'Recruitment',
      text: 'Recruitment',
      checked: checked('category', 'Recruitment')
    }
  ]
}) }}
