{{ govukRadios({
  idPrefix: 'sub-category',
  name: 'sub-category',
  items: [
    {
      value: 'Application testing',
      text: 'Application testing (PAT)',
      checked: checked('sub-category', 'Application testing')
    },
    {
      value: 'Catering',
      text: 'Catering',
      checked: checked('sub-category', 'Catering')
    },
    {
      value: 'Cleaning',
      text: 'Cleaning',
      checked: checked('sub-category', 'Cleaning')
    },
    {
      value: 'Construction consultancy',
      text: 'Construction consultancy',
      checked: checked('sub-category', 'Construction consultancy')
    },
    {
      value: 'Horticultural',
      text: 'Horticultural',
      checked: checked('sub-category', 'Horticultural')
    },
    {
      value: 'Maintenance',
      text: 'Maintenance',
      checked: checked('sub-category', 'Maintenance')
    },
    {
      value: 'Removal and relocation',
      text: 'Removal and relocation',
      checked: checked('sub-category', 'Removal and relocation')
    },
    {
      value: 'Security',
      text: 'Security',
      checked: checked('sub-category', 'Security')
    },
    {
      value: 'Waste',
      text: 'Waste',
      checked: checked('sub-category', 'Waste')
    },
    {
      value: 'Workplace facilities management',
      text: 'Workplace facilities management',
      checked: checked('sub-category', 'Workplace facilities management')
    }
  ]
}) }}
