{{ govukRadios({
  classes: '',
  idPrefix: 'sub-category',
  name: 'sub-category',
  items: [
    {
      value: 'Electricity',
      text: 'Electricity',
      checked: checked('sub-category', 'Electricity')
    },
    {
      value: 'Gas',
      text: 'Gas',
      checked: checked('sub-category', 'Gas')
    },
    {
      value: 'Water',
      text: 'Water',
      checked: checked('sub-category', 'Water')
    },
    {
      value: 'Drains and sewerage',
      text: 'Drains and sewerage',
      checked: checked('sub-category', 'Drains and sewerage')
    },
    {
      value: 'Energy efficiency improvements',
      text: 'Energy efficiency improvements',
      checked: checked('sub-category', 'Energy efficiency improvements')
    },
    {
      value: 'Loans for energy saving',
      text: 'Loans for energy saving',
      checked: checked('sub-category', 'Loans for energy saving')
    }
  ]
}) }}
