{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}

  <style>
    @media (min-width: 40.0625em) {
      .govuk-heading-xl {
        font-size: 36px;
      }
      .govuk-heading-l {
        font-size: 27px;
        margin-top: 45px;
      }
    }
  </style>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">School procurement</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Collection</span>
      <h1 class="govuk-heading-xl">
        Buying from a framework for schools
      </h1>
      <p class="govuk-body-l">Guide for schools buyers on purchasing goods and services from a framework agreement.</p>
    </div>

    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s govuk-!-margin-bottom-7">
        Published 22 January 2019<br>
        Last updated 29 January 2019 — <a href="#">see all updates</a><br>
        From: <a href="#">Department for Education</a>
      </p>

      <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
        <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">

          <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>

          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#guides">Category guides</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#templates">Templates, forms and model documents</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#before">Before you start</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#methods">Buying methods</a>
            </li>
          </ol>
        </nav>

      </aside>
    </div>





    <div class="govuk-grid-column-two-thirds">

      <p>Frameworks are a type of contract with agreed terms and conditions for buying goods, works or services for your school. You can use them without having to run a full buying process.</p>
      <p>Each framework agreement will have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>details of the products and services available</li>
        <li>details of the suppliers</li>
        <li>instructions on how to buy</li>
        <li>agreed pricing structure and terms and conditions</li>
      </ul>
      <p>Buying from a framework will usually be quicker and easier than getting bids or quotes because the agreements:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have already been through a full competitive tender process</li>
        <li>have been quality checked</li>
        <li>are checked to make sure they comply with the law</li>
      </ul>

      <p>You can <a href="/service/">find a DfE recommended framework</a> for your school.</p>




      <h2 class='govuk-heading-l' id="guides">
        Category guides
      </h2>
      <p>Guidance for schools buyers for different categories of spend.</p>
      <ol class="gem-c-document-list">
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="/guidance/">
            Buying educational resources: How to get the most out of your funds
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              28 January 2019
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="#0">
            Buying ICT equiptment
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              31 July 2018
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
      </ol>




      <h2 class='govuk-heading-l' id="templates">
        Templates, forms and model documents
      </h2>
      <p>Exemplar documents and forms that schools can adapt and use to help with the procurement process.</p>
      <ol class="gem-c-document-list">
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="https://www.gov.uk/government/publications/school-procurement-expression-of-interest-form">
            School procurement: expression of interest form
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              2 February 2016
            </li>
            <li class="gem-c-document-list__attribute">
              Form
            </li>
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="https://www.gov.uk/government/publications/school-procurement-example-letters-for-the-tender-process">
            School procurement: example letters for the tender process
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              2 February 2016
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="https://www.gov.uk/government/publications/school-procurement-bid-evaluation-scoring-summary">
            School procurement: bid evaluation scoring summary
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              2 February 2016
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="https://www.gov.uk/government/publications/school-procurement-example-contracts">
            School procurement: example contracts
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              2 February 2016
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="https://www.gov.uk/government/publications/school-procurement-example-timelines">
            School procurement: example timelines
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              2 February 2016
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="https://www.gov.uk/government/publications/school-procurement-glossary">
            School procurement: glossary
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              2 February 2016
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
      </ol>





      <h2 class='govuk-heading-l' id="before">
        Before you start
      </h2>
      <p>How to prepare and research before buying things for your school to help you get the best deal and save money.</p>
      <ol class="gem-c-document-list">
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="#0">
            Write a business case
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              22 May 2017
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="#0">
            Work with other schools
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              31 July 2018
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
      </ol>




      <h2 class='govuk-heading-l' id="methods">
        Buying methods
      </h2>
      <ol class="gem-c-document-list">
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="#0">
            Select a supplier direct
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              17 September 2017
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title" href="#0">
            Run a mini-competition
          </a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              14 December 2018
            </li>
            <li class="gem-c-document-list__attribute">
              Guidance
            </li>
          </ul>
        </li>
      </ol>






      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-9">
      <p class="govuk-body-s govuk-!-margin-bottom-7">
        Published 22 January 2019<br>
        Last updated 29 January 2019 <a href="#0">+ show all updates</a>
      </p>

      <a class="app-c-back-to-top dont-print" href="#contents">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Contents
      </a>

    </div>
  </div>
{% endblock %}
