<span class="govuk-caption-xl">Your recommendation</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Library resources
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.</p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>books</li>
      <li>e-books</li>
      <li>e-audiobooks</li>
      <li>educational software</li>
      <li>CDs</li>
      <li>DVDs</li>
    </ul>
    <p>Includes fiction, non-fiction and curriculum material.</p>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>a wide range of suppliers</li>
      <li>discounts of over 40% on some titles</li>
      <li>pre-agreed terms and conditions</li>
    </ul>



    <p>Before buying from the framework you&rsquo;ll need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.espo.org/Registration">create an ESPO account</a></li>
      <li><a href="https://www.espo.org/Pages/Books-for-schools-framework-376E-guide">follow the instructions in the ESPO guide</a></li>
    </ul> -->

    {{ govukButton({
      text: 'Continue to the CPC website',
      href: 'https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=6&frameworkID=177',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
