<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  Electricity (half hourly, non-half hourly and unmetered)
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Yorkshire Purchasing Organisation (YPO) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set detailsHtml %}
      <h2 class="govuk-heading-m">Details</h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Provider
          </dt>
          <dd class="app-check-your-answers__answer">
            YPO
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Website
          </dt>
          <dd class="app-check-your-answers__answer">
            <a href="https://www.ypo.co.uk/framework/detail/900271#framework_details">ypo.co.uk/framework/detail/900271#framework_details</a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Start date
          </dt>
          <dd class="app-check-your-answers__answer">
            1 April 2019
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            End date
          </dt>
          <dd class="app-check-your-answers__answer">
            31 March 2023
          </dd>
        </div>
      </dl>
    {% endset -%}

    {% set offersHtml %}
    <h2 class='govuk-heading-m'>What it offers</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>half hourly, non-half hourly and unmetered electricity supply</li>
      <li>ancillary services including Demand Side Response, Energy Storage, EV Charging Energy Efficiency Surveys and Power Purchase Agreements</li>
    </ul>
    {% endset -%}

    {% set benefitsHtml %}
      <h2 class="govuk-heading-m">Benefits</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>dedicated account managers</li>
        <li>a choice of flexible and fixed contracts</li>
      </ul>
      <p>All frameworks also offer:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>comliance with The Official Journal of the European Union (OJEU) principles and regulations</li>
        <li>a list of checked suppliers</li>
        <li>pre-agreed terms and conditions</li>
      </ul>
    {% endset -%}

    {{ govukTabs({
      items: [
        {
          label: "Details",
          id: "details",
          panel: {
            html: detailsHtml
          }
        },
        {
          label: "What it offers",
          id: "what-it-offers",
          panel: {
            html: offersHtml
          }
        },
        {
          label: "Benefits",
          id: "benefits",
          panel: {
            html: benefitsHtml
          }
        }
      ]
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
