<span class="govuk-caption-xl">Your recommendation</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Energy efficiency improvements from Retrofit
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Fusion 21 framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>streamlines procurement process for energy services</li>
      <li>helps retrofit energy efficiency and local energy generation measures to your buildings or estate, reducing annual energy expenditure and carbon emissions</li>
    </ul>


    <h2 class='govuk-heading-m'>
      Benefits
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>improves energy performance of your buildings</li>
      <li>reduces carbon emissions and achieves annual savings on energy</li>
      <li>guaranteed level of energy savings – offering a secure financial saving over period of agreement</li>
    </ul>



    {{ govukButton({
      text: 'Continue to the Fusion 21 website',
      href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm3768',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
