<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Electricity supply and ancillary services (non-half hourly)
</h1>

<p class="govuk-body-l govuk-!-margin-bottom-6">Crown Commercial Service (CCS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set detailsHtml %}
      <h2 class="govuk-heading-l">Details</h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Provider
          </dt>
          <dd class="app-check-your-answers__answer">
            CCS
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Website
          </dt>
          <dd class="app-check-your-answers__answer">
            <a href="https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1075">ccs-agreements.cabinetoffice.gov.uk/contracts/rm1075</a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Start date
          </dt>
          <dd class="app-check-your-answers__answer">
            27 March 2015
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            End date
          </dt>
          <dd class="app-check-your-answers__answer">
            26 March 2019
          </dd>
        </div>
      </dl>
    {% endset -%}

    {% set offersHtml %}
    <h2 class='govuk-heading-l'>What it offers</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>half-hourly metered electricity supply</li>
      <li>ancillary services</li>
    </ul>
    {% endset -%}

    {% set benefitsHtml %}
      <h2 class="govuk-heading-l">Benefits</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>a customer service team to help you</li>
        <li>discounts in wholesale energy markets</li>
      </ul>
      <p>All frameworks also offer:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>comliance with The Official Journal of the European Union (OJEU) principles and regulations</li>
        <li>a list of checked suppliers</li>
        <li>pre-agreed terms and conditions</li>
      </ul>
    {% endset -%}

    {{ govukTabs({
      items: [
        {
          label: "Details",
          id: "details",
          panel: {
            html: detailsHtml
          }
        },
        {
          label: "What it offers",
          id: "what-it-offers",
          panel: {
            html: offersHtml
          }
        },
        {
          label: "Benefits",
          id: "benefits",
          panel: {
            html: benefitsHtml
          }
        }
      ]
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
