<span class="govuk-caption-xl">Your recommendation</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Energy efficiency loan scheme
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Salix framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <p>Interest-free loans for energy saving improvements, such as insulation and LED lights for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>all local-authority-maintained schools</li>
      <li>academies</li>
      <li>grant-aided schools</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>pay back the loan from the savings on your school’s energy bill</li>
      <li>apply at any time of the year</li>
    </ul>



    {{ govukButton({
      text: 'Continue to the Salix website',
      href: 'https://www.salixfinance.co.uk/loans/schools-loans',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
