<span class="govuk-caption-l">Recommended agreement</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  Insurance for academies, free schools and similar institutions
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <p>An alternative to commercial insurance for academies that covers:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>insurance and insurance related services, designed primarily for use by academies, free schools and academy trusts.</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>free quote tool</li>
      <li>advice on insurance services not covered by DfE’s risk protection arrangement</li>
    </ul>
    {% include "includes/all-framework-benefits.html" %}


    {{ govukButton({
      text: 'Continue to the CPC website',
      href: 'https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=9&frameworkID=176',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
