<span class="govuk-caption-l">Your recommendation</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  Construction consultancy services
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the NHS Shared Business Services (SBS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>suppliers that provide estates, facilities and capital consultancy services across a range of property specialisms</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>choice of regional and national suppliers</li>
      <li>flexible contract arrangements</li>
      <li>additional consultancy services</li>
    </ul>
    {% include "includes/all-framework-benefits.html" %}


    {{ govukButton({
      text: 'Continue to the NHS SBS website',
      href: 'https://www.sbs.nhs.uk/ica-construction-consultancy-services',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
