<span class="govuk-caption-l">Your recommendation</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  Facilities management (FM) marketplace
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Crown Commercial Service (CCS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>maintenance services</li>
      <li>catering services</li>
      <li>cleaning services</li>
      <li>workplace FM services</li>
      <li>miscellaneous FM services</li>
      <li>reception services</li>
      <li>security services</li>
      <li>horticultural services</li>
      <li>waste services</li>
      <li>contract management</li>
      <li>contract mobilisation</li>
      <li>statutory obligations</li>
      <li>computer-aided facilities management (CAFM)</li>
      <li>helpdesk services</li>
      <li>management of billable works</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>clear not-for-profit charges</li>
      <li>regular updates on purchases and prices to help you budget</li>
      <li>choice of regional and national suppliers</li>
    </ul>
    {% include "includes/all-framework-benefits.html" %}


    {{ govukButton({
      text: 'Continue to the CCS website',
      href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm3830',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
