<!-- <span class="govuk-caption-l">Your recommendation</span> -->
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  ICT, cloud, support and related services (Think IT)
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the E2BN framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>educational cloud services specifically designed for schools, academies and other learning centres</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>online quotes</li>
    </ul>
    {% include "includes/all-framework-benefits.html" %}


    {{ govukButton({
      text: 'Continue to the E2BN website',
      href: 'http://think-it.org.uk/',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
