<span class="govuk-caption-l">Your recommendation</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  ICT solutions and supply network infrastructure
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>servers and associated equipment</li>
      <li>enterprise storage solutions</li>
      <li>data backup and archiving solutions</li>
      <li>networking equipment</li>
      <li>wireless network systems</li>
      <li>Local Area Networks (LAN) virtualisation</li>
      <li>digital infrastructure</li>
      <li>online and Cloud storage solutions</li>
      <li>network security systems</li>
      <li>separate maintenance, installation, and support services</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>free quote tool</li>
      <li>management support</li>
    </ul>
    {% include "includes/all-framework-benefits.html" %}


    {{ govukButton({
      text: 'Continue to the CPC website',
      href: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm1050',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
