<!-- <span class="govuk-caption-l">Your recommendation</span> -->
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  Digital Marketplace (G-Cloud 10)
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Crown Commercial Service (CCS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>supply and fit</li>
      <li>support and maintenance</li>
      <li>systems configuration and management</li>
      <li>partial or fully managed ICT services</li>
      <li>integrating new systems with existing ICT</li>
      <li>repurposing of existing ICT</li>
      <li>complete integrated service with other technologies and partners</li>
      <li>supply and integration of solutions into green field (new build) situations and legacy environments</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>specialist in schools and other education settings</li>
      <li>support with running mini-competitions</li>
    </ul> -->



    {{ govukButton({
      text: 'Continue to the CCS website',
      href: 'https://www.digitalmarketplace.service.gov.uk/buyers/direct-award/g-cloud/start',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
