<span class="govuk-caption-l">Your recommendation</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  Multifunctional devices, managed print and content services and records and information management
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Kent County Supplies (KCS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <p>Photocopiers, printers and scanners (multi-functional devices, MFDs) from a range of suppliers including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Sharp</li>
      <li>Konica</li>
      <li>Annodata (Kyocera)</li>
      <li>Ricoh</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>free quote tool</li>
      <li>A4 and A3 prints for the same price</li>
      <li>no minimum billing &ndash; all toners included</li>
    </ul>
    {% include "includes/all-framework-benefits.html" %}


    {{ govukButton({
      text: 'Continue to the KCS website',
      href: 'http://www.kcs4ps.co.uk/education',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
