<span class="govuk-caption-xl">Your recommendation</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Office supplies
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the Eastern Shires Purchasing Organisation (ESPO) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <p>Over 25,000 products, including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <ul class="govuk-list govuk-list--bullet">
        <li>stationery</li>
        <li>exercise books</li>
        <li>ICT consumables</li>
        <li>furniture ranges</li>
      </ul>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>continuously updated products (4,500 new products in 2018)</li>
      <li>benchmarked low prices</li>
      <li>account managers can also offer a purchasing health check </li>
    </ul>

    {{ govukInsetText({
        html: '
        <p>Before buying from the framework you&rsquo;ll need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.espo.org/Registration">create an ESPO account</a></li>
          <li><a href="https://www.espo.org/Online-Catalogue-Login-Request">request a framework login</a></li>
        </ul>'
    }) }}

    {{ govukButton({
      text: 'Continue to the ESPO website',
      href: 'https://www.espo.org/Catalogue',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
