<span class="govuk-caption-xl">Your recommendation</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
  Specialist professional services from NEPRO
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers, we think you should use the North East Procurement Organisation (NEPO) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>training</li>
      <li>construction</li>
      <li>ICT</li>
      <li>education consultancy</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>legally compliant</li>
      <li>a range of suppliers from large national companies to smaller local and regional operations</li>
      <li>only pay when work is completed to your satisfaction</li>
    </ul>



    {{ govukButton({
      text: 'Continue to the NEPO website',
      href: 'https://nepro.org.uk/get-started/buyers/',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
