<span class="govuk-caption-l">Your recommendation</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  Employee screening services
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crescent Purchasing Consortium (CPC) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>right to work checks</li>
      <li>credit checks</li>
      <li>reference checks</li>
      <li>DVLA driving checks</li>
      <li>international fraud and sanction checks</li>
      <li>BS7858 and Baseline Personnel Security Standard (BPSS) checks</li>
      <li>Disclosure Barring Service (DBS) checks</li>
      <li>employment history checks (including gap verification)</li>
      <li>identity verification (including passport verification)</li>
      <li>professional and educational qualifications</li>
      <li>
        a range of value-added services including:
        <ul class="govuk-list govuk-list--bullet">
          <li>Financial Conduct Authority</li>
          <li>MOT and insurance</li>
          <li>Energy and Utility Skills Register</li>
          <li>Health and Safety and Fraud and Abuse Control Information System (FACIS) checks</li>
        </ul>
      </li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>access to automated online DBS check system</li>
      <li>select a supplier directly or run a minicompetition</li>
    </ul>



    {{ govukButton({
      text: 'Continue to the CPC website',
      href: 'https://www.academies.thecpc.ac.uk/suppliers/categories/framework.php?categoryID=3&frameworkID=197',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
