<span class="govuk-caption-l">Your recommendation</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
  Hiring supply teachers and agency workers
</h1>
<p class="govuk-body-l govuk-!-margin-bottom-6">Based on your answers we think you should use the Crown Commercial Service (CCS) framework.</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class='govuk-heading-m related-main-content'>
      What it offers
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>ability to find and hire a worker using an agency</li>
      <li>hire of a specific person using an agency (‘nominated worker’)</li>
      <li>a managed service provider who will take on your temporary staff needs</li>
      <li>breakdown of rates agencies charge</li>
      <li>downloadable shortlist of agencies based on your needs</li>
      <li>calculation of the maximum you could be charged to make your agency worker permanent</li>
    </ul>

    <h2 class='govuk-heading-m'>
      Benefits
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>transparent mark-ups</li>
      <li>avoid temp-to-perm fees</li>
      <li>completed background and safeguarding checks</li>
    </ul>
    {% include "includes/all-framework-benefits.html" %}


    {{ govukButton({
      text: 'Continue to the CCS website',
      href: 'https://marketplace.service.crowncommercial.gov.uk/supply-teachers',
      classes: 'govuk-!-margin-top-5'
    }) }}

  </div>

  {% include "includes/outcome-aside.html" %}
</div>
