{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        All DfE recommended frameworks
      </h1>

      <p>The Schools Commercial Team (SCT) within DfE has reviewed a wide range of deals. These have been assessed for compliance with procurement regulations, ease of use, suitability and value for money. We&rsquo;ve also considered feedback from schools already using the deals.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Audit services</a></li>
        <li><a href="">Books and materials</a></li>
        <li><a href="">Building cleaning services</a></li>
        <li><a href="">Construction consultancy services</a></li>
        <li><a href="">Desktop hardware</a></li>
        <li><a href="">Electricity - half hourly, non-half hourly and unmetered supply</a></li>
        <li><a href="">Electricity supply and ancillary services</a></li>
        <li><a href="">Electricity supply and ancillary services</a></li>
        <li><a href="">Employee screening services</a></li>
        <li><a href="">Energy efficiency improvements from Retrofit</a></li>
        <li><a href="">Firm mains gas</a></li>
        <li><a href="">Framework for the provision of furniture</a></li>
        <li><a href="">G-Cloud 10</a></li>
        <li><a href="">Hiring supply teachers and agency workers</a></li>
        <li><a href="">ICT services for education</a></li>
        <li><a href="">ICT solutions and supply network infrastructure</a></li>
        <li><a href="">ICT, cloud, support and related services</a></li>
        <li><a href="">Insurance</a></li>
        <li><a href="">Leasing services</a></li>
        <li><a href="">Legal services</a></li>
        <li><a href="">Library resources</a></li>
        <li><a href="">Loans to fund energy saving schemes</a></li>
        <li><a href="">Office supplies</a></li>
        <li><a href="">Photocopiers, printers and scanners</a></li>
        <li><a href="">Photocopiers, printers and scanners with toners included</a></li>
        <li><a href="">Photocopiers, printers, scanners and associated print services and supplies</a></li>
        <li><a href="">Portable appliance and fixed wire testing (PAT)</a></li>
        <li><a href="">RE:FIT - national energy performance contracting</a></li>
        <li><a href="">Removal, relocation and additional services</a></li>
        <li><a href="">Risk protection arrangement for academy trusts</a></li>
        <li><a href="">Software licences and associated services for academies and schools</a></li>
        <li><a href="">Specialist professional services</a></li>
        <li><a href="">Spend analysis and recovery services</a></li>
        <li><a href="">Supply of natural gas and (daily/non-daily metered) and ancillary services</a></li>
        <li><a href="">Technology products 2 (lot 6)</a></li>
        <li><a href="">Water, wastewater and ancillary services</a></li>
      </ul>

  </div>
{% endblock %}
