{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-category" method="post" autocomplete="off">

        {% if data['type'] == 'Goods' %}
          {% include "includes/categories/goods.html" %}
        {% elif data['type'] == 'Services' %}
          {% include "includes/categories/services.html" %}
        {% endif %}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>



      {% include "includes/answers.html" %}

    </div>
  </div>
{% endblock %}
