{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">School procurement</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>The Schools Commercial Team within Department for Education (DfE) reviews a wide range of frameworks. These are assessed for compliance with procurement regulations, ease of use, suitability and value for money.</p>

      <p>Use this service to find one of these frameworks that will help you buy goods or services for you school.</p>

      {{ govukButton({
        text: 'Start',
        href: 'type',
        classes: 'govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8'
      }) }}

      <!-- <p>You can also view <a href="/service/guidance/">step-by-step framework buying guidance</a>.</p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/guidance/buying-for-schools">
                Buying for schools guidance
              </a>
            </li>
            <li>
              <a href="/collection/">
                Buying for schools: category guidance
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/government/collections/buying-for-schools">
                Buying for schools: templates and forms
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
