{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">School procurement</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p class="govuk-body-l">Use this service to find out how to buy goods, works or services for your school, based on recommendations from the Department for Education (DfE).</p>

      <p>It helps schools to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>find the best buying method for them</li>
        <li>get value for money</li>
        <li>comply with EU procurement law</li>
      </ul>

      {{ govukButton({
        text: 'Start',
        href: 'type',
        classes: 'govuk-button--start'
      }) }}

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#0">
                Deals for schools
              </a>
            </li>
            <li>
              <a href="#0">
                Supporting excellent school resource management
              </a>
            </li>
            <li>
              <a href="#0">
                Trends in school spending: 2002 to 2016
              </a>
            </li>
            <li>
              <a href="#0">
                School procurement: expression of interest form
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
