{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['category'] == 'Furniture' %}
        {% include "includes/outcomes/furniture.html" %}
      {% elif data['category'] == 'Legal' %}
        {% include "includes/outcomes/legal.html" %}
      {% elif data['category'] == 'Office supplies' %}
        {% include "includes/outcomes/office-supplies-catalogue.html" %}
      {% elif data['category'] == 'Professional' %}
        {% include "includes/outcomes/professional.html" %}
      <!-- END TOP LEVELS -->

      {% elif data['category'] == 'Books and related materials' %}
        {% if data['sub-category'] == 'Classroom supplies' %}
          {% include "includes/outcomes/books-classroom.html" %}
        {% elif data['sub-category'] == 'Library supplies' %}
          {% include "includes/outcomes/books-library.html" %}
        {% endif %}
      <!-- END BOOKS -->

      {% elif data['category'] == 'ICT' %}
        {% if data['sub-category'] == 'Networking equipment' %}
          {% include "includes/outcomes/ict-solutions.html" %}
        {% elif (data['sub-category'] == 'Hardware' or data['sub-category'] == 'Software') and data['catalogue'] == 'Yes' %}
          {% include "includes/outcomes/ict-purchasingplatform.html" %}
        {% elif data['sub-category'] == 'Printers, copiers and multifunctional devices' and data['directaward'] == 'Yes' %}
          {% include "includes/outcomes/ict-mfd-ccs.html" %}
        {% elif data['sub-category'] == 'Managed ICT' and data['support'] == 'No' %}
          {% include "includes/outcomes/ict-servicesforeducation.html" %}
        {% endif %}
      <!-- END ICT -->

      {% elif data['category'] == 'Facilities management and estates' %}
        {% if data['sub-category'] == 'Application testing' %}
          {% include "includes/outcomes/fm-pat.html" %}
        {% elif data['sub-category'] == 'Cleaning' %}
          {% if data['support'] == 'Schools focused' %}
            {% include "includes/outcomes/fm-cleaning.html" %}
          {% else %}
            {% include "includes/outcomes/fm.html" %}
          {% endif %}
        {% elif data['sub-category'] == 'Construction consultancy' %}
          {% include "includes/outcomes/fm-construction.html" %}
        {% elif data['sub-category'] == 'Removal and relocation' %}
          {% include "includes/outcomes/fm-removals.html" %}
        {% else %}
          {% include "includes/outcomes/fm.html" %}
        {% endif %}
      <!-- END FM -->

      {% elif data['category'] == 'Energy and utilities' %}
        {% if data['sub-category'] == 'Water, drains and sewerage' %}
          {% include "includes/outcomes/energy-water.html" %}
        {% elif data['sub-category'] == 'Energy efficiency improvements' and data['size'] == 'Yes' %}
          {% include "includes/outcomes/energy-efficiency-ccs.html" %}
        {% elif data['sub-category'] == 'Energy efficiency improvements' and data['size'] == 'No' %}
          {% include "includes/outcomes/energy-efficiency-fusion21.html" %}
        {% endif %}
      <!-- END ENERGY -->

      {% elif data['category'] == 'Financial' %}
        {% if data['sub-category'] == 'Audit' %}
          {% include "includes/outcomes/financial-audit.html" %}
        {% elif data['sub-category'] == 'Cost recovery' %}
          {% include "includes/outcomes/financial-costrecovery.html" %}
        {% elif data['sub-category'] == 'Insurance' %}
          {% include "includes/outcomes/financial-insurance.html" %}
        {% elif data['sub-category'] == 'Leasing' %}
          {% include "includes/outcomes/financial-leasing.html" %}
        {% endif %}
      <!-- END FINANCIAL -->


      {% elif data['category'] == 'Recruitment' %}
        {% if data['sub-category'] == 'Pre-employment checks' %}
          {% include "includes/outcomes/recruitment-preemployment.html" %}
        {% elif data['sub-category'] == 'Supply teachers' %}
          {% include "includes/outcomes/recruitment-supplyteachers.html" %}
        {% endif %}
      <!-- END RECRUITMENT -->



      {% endif %}



    </div>

    <div class="govuk-grid-column-two-thirds">
      {% include "includes/answers.html" %}
    </div>
  </div>
{% endblock %}
