{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['category'] == 'Furniture' %}
        {% include "includes/outcomes/furniture.html" %}
      {% elif data['category'] == 'Legal services' %}
        {% include "includes/outcomes/legal.html" %}
      {% elif data['category'] == 'Office supplies' %}
        {% include "includes/outcomes/office-supplies-catalogue.html" %}
      {% elif data['category'] == 'Professional services' %}
        {% include "includes/outcomes/professional.html" %}





      {% elif data['category'] == 'Books and related materials' %}
        {% if data['sub-category'] == 'Classroom supplies' %}
          {% include "includes/outcomes/books-classroom.html" %}
        {% elif data['sub-category'] == 'Library supplies' %}
          {% include "includes/outcomes/books-library.html" %}
        {% endif %}
      <!-- END BOOKS -->

      {% elif data['category'] == 'ICT' and data['type'] == 'Goods' %}
        {% if data['sub-category'] == 'Networking equipment' %}
          {% include "includes/outcomes/ict-solutions.html" %}
        {% elif (data['sub-category'] == 'Hardware' or data['sub-category'] == 'Software') and data['catalogue'] == 'Yes' %}
          {% include "includes/outcomes/ict-purchasingplatform.html" %}
        {% endif %}
      <!-- END ICT GOODS -->

      {% elif data['category'] == 'Facilities management and estates' %}
        {% if data['sub-category'] == 'Application testing' %}
          {% include "includes/outcomes/fm-pat.html" %}
        {% elif data['sub-category'] == 'Cleaning' %}
          {% include "includes/outcomes/fm-cleaning.html" %}
        {% elif data['sub-category'] == 'Construction consultancy' %}
          {% include "includes/outcomes/fm-construction.html" %}
        {% elif data['sub-category'] == 'Removal and relocation' %}
          {% include "includes/outcomes/fm-removals.html" %}
        {% else %}
          {% include "includes/outcomes/fm.html" %}
        {% endif %}
      <!-- END FM -->




      {% elif data['category'] == 'Audit services' %}
        {% include "includes/outcomes/audit.html" %}

      {% elif data['category'] == 'Energy and utilities' %}
        {% if data['category-energy'] == 'Electricity' %}
          {% include "includes/outcomes/energy-electricity.html" %}
        {% elif data['category-energy'] == 'Energy efficiency improvements' %}
          {% include "includes/outcomes/energy-efficiency.html" %}
        {% elif data['category-energy'] == 'Loans for energy saving' %}
          {% include "includes/outcomes/energy-loans.html" %}
        {% elif data['category-energy'] == 'Gas' %}
          {% include "includes/outcomes/energy-gas.html" %}
        {% elif data['category-energy'] == 'Drains and sewerage' %}
          {% include "includes/outcomes/energy-water.html" %}
        {% elif data['category-energy'] == 'Water' %}
          {% include "includes/outcomes/energy-water.html" %}
        {% endif %}








      {% elif data['category'] == 'ICT' %}
        {% if data['type'] == 'Buying goods' %}
          {% include "includes/outcomes/ict-catalogue.html" %}
        {% elif data['type'] == 'One-off service' or data['type'] == 'Ongoing service contract' %}
          {% include "includes/outcomes/ict.html" %}
        {% endif %}

      {% elif data['category'] == 'Insurance' %}
        {% include "includes/outcomes/insurance.html" %}





      {% elif data['category'] == 'Printers, copiers and multi-functional devices (MFDs)' %}
        {% include "includes/outcomes/mfds.html" %}



      {% elif data['category'] == 'Recruitment' %}
        {% include "includes/outcomes/recruitment.html" %}
      {% endif %}



    </div>

    <div class="govuk-grid-column-two-thirds">
      {% include "includes/answers.html" %}
    </div>
  </div>
{% endblock %}
