{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="flash-card">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
          After you’ve used the service
        </h1>
        <p>When you&rsquo;ve answered the relevant questions, you&rsquo;ll be given the most suitable framework based on your answers. This will point you to the providers&rsquo; website where you can get quotes from suppliers on the framework.</p>

        {{ govukButton({
            text: 'Continue',
            href: 'framework-benefits',
            classes: 'govuk-!-margin-bottom-0'
        }) }}

      </div>

    </div>
  </div>
{% endblock %}
