{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-sub-category" method="post" autocomplete="off">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {% if data['category'] == 'ICT' %}
          What {{ data['type'] | lower }} are you looking for in {{ data['category'] }}?
        {% else %}
          What {{ data['type'] | lower }} are you looking for in {{ data['category'] | lower }}?
        {% endif %}
        </h1>

        {% if data['category'] == 'Books and related materials' %}
          {% include "includes/categories/sub-books.html" %}
        {% elif data['category'] == 'Facilities management and estates' %}
          {% include "includes/categories/sub-fm.html" %}
        {% elif data['category'] == 'ICT' and data['type'] == 'Goods' %}
          {% include "includes/categories/sub-ict-goods.html" %}
        {% elif data['category'] == 'Energy and utilities' %}
          {% include "includes/categories/sub-energy.html" %}
        {% endif %}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>



      {% include "includes/answers.html" %}

    </div>
  </div>
{% endblock %}
