{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="category" method="post" autocomplete="off">

        {{ govukRadios({
          idPrefix: 'type',
          name: 'type',
          fieldset: {
            legend: {
              text: 'What are you buying?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          hint: {
            text: ''
          },
          items: [
            {
                value: 'Goods',
                text: 'Goods',
                checked: checked('type', 'Goods')
            },
            {
              value: 'Services',
              text: 'Services',
              checked: checked('type', 'Services')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
