{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="category" method="post" autocomplete="off">

        {{ govukRadios({
          classes: '',
          idPrefix: 'type',
          name: 'type',
          fieldset: {
            legend: {
              text: 'What is the type of purchase?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
            }
          },
          hint: {
            text: ''
          },
          items: [
            {
                value: 'Buying goods',
                text: 'Buying goods',
                checked: checked('type', 'Buying goods')
            },
            {
              value: "Leasing goods",
              text: "Leasing goods",
              checked: checked('type', 'Leasing goods')
            },
            {
              value: 'One-off service',
              text: 'One-off service',
              checked: checked('type', 'One-off service')
            },
            {
              value: 'Ongoing service contract',
              text: 'Ongoing service contract',
              checked: checked('type', 'Ongoing service contract')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
