{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="number-of-schools">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="address" method="post" autocomplete="off">

        {% if data['multiple-schools'] == 'Yes' %}
          <span class="govuk-caption-xl">
            School 1 of {{ data['number-of-schools'] }}
          </span>
        {% endif %}

        {{ govukInput({
          label: {
            html: 'What is the school&rsquo;s name?',
            isPageHeading: true,
            classes: "govuk-label--xl"
          },
          id: 'school-name',
          name: 'school-name',
          classes: 'govuk-input--width-30',
          value: data['school-name']
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
