{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="confirmation" method="post" autocomplete="off">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl" for="v3-framework-autocomplete">
              What you&rsquo;re looking to buy
            </label>
          </h1>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <div id="v3-framework-autocomplete-container"></div>
            </div>
          </div>
        </div>

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
