{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Purchase type
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['contract-type'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="type">
              Change
            </a>
          </dd>
        </div>

        {% if data['contract-type'] == 'One-off purchase' %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Purchase date
            </dt>
            <dd class="app-check-your-answers__answer">
              {% set purchaseDate = data['purchase-date-year'] + "-" + data['purchase-date-month'] + "-" + data['purchase-date-day'] %}

              {{ purcasheDate | date("D MMMM YYYY") }}
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="purchase-date">
                Change
              </a>
            </dd>
          </div>
        {% elif data['contract-type'] == 'Ongoing service' %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Start date
            </dt>
            <dd class="app-check-your-answers__answer">
              {% set contractStart = data['contract-start-date-year'] + "-" + data['contract-start-date-month'] + "-" + data['contract-start-date-day'] %}

              {{ contractStart | date("D MMMM YYYY") }}
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="service-dates">
                Change
              </a>
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              End date
            </dt>
            <dd class="app-check-your-answers__answer">
              {% set contractEnd = data['contract-end-date-year'] + "-" + data['contract-end-date-month'] + "-" + data['contract-end-date-day'] %}

              {{ contractEnd | date("D MMMM YYYY") }}
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="service-dates">
                Change
              </a>
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Review date
            </dt>
            <dd class="app-check-your-answers__answer">
              {% if data['review-date-option'] == 'yes' %}
                {% set contractReview = data['contract-review-date-year'] + "-" + data['contract-review-date-month'] + "-" + data['contract-review-date-day'] %}

                {{ contractReview | date("D MMMM YYYY") }}
              {% else %}
                No
              {% endif %}
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="service-dates">
                Change
              </a>
            </dd>
          </div>
        {% else %}{% endif %}

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Budget
          </dt>
          <dd class="app-check-your-answers__answer">
            £{{ data['budget'] }} (excluding VAT)
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="budget">
              Change
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Title
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['contract-title'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="details">
              Change
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Description
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['contract-description'] | escape | nl2br }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="details">
              Change
            </a>
          </dd>
        </div>

        {# <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Requirements
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['contract-requirements-rendered'] | safe }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="details">
              Change
            </a>
          </dd>
        </div> #}
      </dl>

      <form action='../task-list' method='post' class='form' autocomplete='off'>

        <input type="hidden" name="requirements-complete" value="true">

        {{ govukButton({
          text: "Save requirements",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
