{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="dates">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class='govuk-heading-xl'>
        Details
      </h1>

      <form class="form" action="check-your-answers" method="post" autocomplete="off">

        {{ govukInput({
          label: {
            text: 'Specification title'
          },
          hint: {
            text: ''
          },
          id: 'contract-title',
          name: 'contract-title',
          classes: '',
          value: data['contract-title']
        }) }}

        {{ govukTextarea({
          classes: '',
          name: 'contract-description',
          id: 'contract-description',
          rows: '10',
          label: {
            text: 'Overview of what you need'
          },
          hint: {
            text: 'If you do not have a precise description of what you want, focus on what you want the product to do this will encourage suppliers to come up with solutions that meet your needs.'
          },
          value: data['contract-description']
        }) }}

        {# {{ govukTextarea({
          classes: '',
          name: 'contract-requirements',
          id: 'contract-requirements',
          rows: '10',
          label: {
            text: 'List of required outcomes'
          },
          hint: {
            html: 'You can use asterisks to add bullet points:<br>* Item one<br>* Item two'
          },
          value: data['contract-requirements']
        }) }} #}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
