{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="type">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class='govuk-heading-xl'>
        Service dates
      </h1>

      <form class="form" action="budget" method="post" autocomplete="off">

        {{ govukDateInput({
          id: "contract-start-date",
          namePrefix: "contract-start-date",
          fieldset: {
            legend: {
              text: "When do you want the service to start?"
            }
          },
          hint: {
            text: "For example, 31 3 2018"
          },
          "items": [
            {
              "name": "day",
              "classes": "govuk-input--width-2",
              "value": data['contract-start-date-day']
            },
            {
              "name": "month",
              "classes": "govuk-input--width-2",
              "value": data['contract-start-date-month']
            },
            {
              "name": "year",
              "classes": "govuk-input--width-4",
              "value": data['contract-start-date-year']
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "contract-end-date",
          namePrefix: "contract-end-date",
          fieldset: {
            legend: {
              text: "When do you want the service to end?"
            }
          },
          hint: {
            text: "For example, 31 3 2022"
          },
          "items": [
            {
              "name": "day",
              "classes": "govuk-input--width-2",
              "value": data['contract-end-date-day']
            },
            {
              "name": "month",
              "classes": "govuk-input--width-2",
              "value": data['contract-end-date-month']
            },
            {
              "name": "year",
              "classes": "govuk-input--width-4",
              "value": data['contract-end-date-year']
            }
          ]
        }) }}

        {% set reviewDateHtml %}
          {{ govukDateInput({
            id: "contract-review-date",
            namePrefix: "contract-review-date",
            fieldset: {
              legend: {
                text: "When do you want to review the service?"
              }
            },
            hint: {
              text: "For example, 31 3 2022"
            },
            "items": [
              {
                "name": "day",
                "classes": "govuk-input--width-2",
                "value": data['contract-review-date-day']
              },
              {
                "name": "month",
                "classes": "govuk-input--width-2",
                "value": data['contract-review-date-month']
              },
              {
                "name": "year",
                "classes": "govuk-input--width-4",
                "value": data['contract-review-date-year']
              }
            ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          classes: 'govuk-radios--inline',
          idPrefix: 'review-date-option',
          name: 'review-date-option',
          fieldset: {
            legend: {
              text: 'Do you want to add a review date?'
            }
          },
          hint: {
            text: 'For example, to check that suppliers are meeting goals'
          },
          items: [
            {
              value: 'yes',
              text: 'Yes',
              checked: checked('review-date-option', 'yes'),
              conditional: {
                html: reviewDateHtml
              }
            },
            {
              value: 'no',
              text: 'No',
              checked: checked('review-date-option', 'no')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
