{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../task-list">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="dates" method="post" autocomplete="off">

        {{ govukRadios({
          classes: '',
          idPrefix: 'contract-type',
          name: 'contract-type',
          fieldset: {
            legend: {
              text: 'Will this be a one-off purchase or ongoing service?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
            }
          },
          hint: {
            text: ''
          },
          items: [
            {
              value: 'One-off purchase',
              text: 'One-off purcahse',
              checked: checked('contract-type', 'one-off')
            },
            {
              value: 'Ongoing service',
              text: 'Ongoing service',
              checked: checked('contract-type', 'ongoing-service')
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
