{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['category'] == 'Audit services' %}
        {% include "includes/framework-audit.html" %}
      {% elif data['category'] == 'Books and materials' %}
        {% include "includes/framework-books.html" %}
      {% elif data['category'] == 'Energy and utilities' %}
        {% include "includes/framework-energy.html" %}
      {% elif data['category'] == 'Facilities management and estates' %}
        {% if data['type'] == 'Goods' %}
          {% include "includes/framework-fm-goods.html" %}
        {% elif data['type'] == 'Service contract' %}
          {% include "includes/framework-fm.html" %}
        {% endif %}
      {% elif data['category'] == 'ICT' %}
        {% include "includes/framework-ict.html" %}
      {% elif data['category'] == 'Insurance' %}
        {% include "includes/framework-insurance.html" %}
      {% elif data['category'] == 'Leasing services' %}
        {% include "includes/framework-leasing.html" %}
      {% elif data['category'] == 'Legal services' %}
        {% include "includes/framework-legal.html" %}
      {% elif data['category'] == 'Office supplies' %}
        {% include "includes/framework-office-supplies.html" %}
      {% elif data['category'] == 'Printers, copiers and multi-functional devices (MFDs)' %}
        {% include "includes/framework-mfds.html" %}
      {% elif data['category'] == 'Professional services' %}
        {% include "includes/framework-professional.html" %}
      {% elif data['category'] == 'Recruitment' %}
        {% include "includes/framework-recruitment.html" %}
      {% endif %}


    </div>
  </div>
{% endblock %}
