{% extends "layout.html" %}

{# Adds a class to increase vertical spacing for pages without a back button #}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data['category'] == 'Audit services' %}
        {% include "includes/framework-audit.html" %}

      {% elif data['category'] == 'Books and materials' %}
        {% include "includes/framework-books.html" %}

      {% elif data['category'] == 'Energy and utilities' %}
        {% if data['category-energy'] == 'Electricity' %}
          {% include "includes/framework-energy-electricity.html" %}
        {% elif data['category-energy'] == 'Energy efficiency improvements' %}
          {% include "includes/framework-energy-efficiency.html" %}
        {% elif data['category-energy'] == 'Loans for energy saving' %}
          {% include "includes/framework-energy-loans.html" %}
        {% elif data['category-energy'] == 'Gas' %}
          {% include "includes/framework-energy-gas.html" %}
        {% elif data['category-energy'] == 'Drains and sewerage' %}
          {% include "includes/framework-energy-water.html" %}
        {% elif data['category-energy'] == 'Water' %}
          {% include "includes/framework-energy-water.html" %}
        {% endif %}

      {% elif data['category'] == 'Facilities management and estates' %}
        {% if data['type'] == 'Goods' %}
          {% include "includes/framework-fm-goods.html" %}
        {% elif data['type'] == 'Service contract' %}
          {% include "includes/framework-fm.html" %}
        {% endif %}

      {% elif data['category'] == 'ICT' %}
        {% if data['type'] == 'Goods' %}
          {% include "includes/catalogue-ict.html" %}
        {% elif data['type'] == 'Service contract' %}
          {% include "includes/framework-ict.html" %}
        {% endif %}

      {% elif data['category'] == 'Insurance' %}
        {% include "includes/framework-insurance.html" %}

      {% elif data['category'] == 'Leasing services' %}
        {% include "includes/framework-leasing.html" %}

      {% elif data['category'] == 'Legal services' %}
        {% include "includes/framework-legal.html" %}

      {% elif data['category'] == 'Office supplies' %}
      {% if data['type'] == 'Goods' %}
        {% include "includes/catalogue-office-supplies.html" %}
      {% elif data['type'] == 'Service contract' %}
        {% include "includes/framework-office-supplies.html" %}
      {% endif %}

      {% elif data['category'] == 'Printers, copiers and multi-functional devices (MFDs)' %}
        {% include "includes/framework-mfds.html" %}

      {% elif data['category'] == 'Professional services' %}
        {% include "includes/framework-professional.html" %}

      {% elif data['category'] == 'Recruitment' %}
        {% include "includes/framework-recruitment.html" %}
      {% endif %}

    </div>

    <div class="govuk-grid-column-two-thirds">
      {% include "includes/answers.html" %}
    </div>
  </div>
{% endblock %}
