{% extends "layout.html" %}

{% block content %}
  <header class="marketplace-heading">
    <div class="marketplace-heading__container">
      <h1 class="marketplace-heading__title">
        {{ serviceName }}
      </h1>
    </div>
  </header>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <h2 class='govuk-heading-l'>
      Buy goods and services for schools
      </h2>

      <ul class="govuk-list govuk-list--nav-options">
       <li>
         <a href="#frameworks">Find a supplier to deliver a service to your school</a><br>
         e.g. cleaning the school, or prividing a catering contract
       </li>
       <li>
         <a href="#frameworks">Buy physical goods</a><br>
         e.g. stationary, or books and materials
       </li>
      </ul> -->

      <h2 class="govuk-heading-l">
       Find a supplier
      </h2>

      <p>You can use the {{ serviceName }} to help you find a supplier for your school to purchase goods or services.</p>

      <h3 class='govuk-heading-m'>
       Before you start
      </h3>
      <p>You need to write &lsquo;requirements&rsquo; to describe what you want. The supplier can&rsquo;t work for you outside the scope of your written requirements.</p>

      <p>Your requirements should include:</p>
      <ul class="govuk-list govuk-list--bullet">
       <li>a precise description of what you need</li>
       <li>an explanation of what it should do, if needed</li>
       <li>the amount you need</li>
       <li>the quality it should be</li>
       <li>when you need it</li>
      </ul>

      {% if data['signedin'] == "true" %}
        {% set createLink %}
          create/
        {% endset -%}
      {% else %}
        {% set createLink %}
          sign-in/index?si-create=true
        {% endset -%}
      {% endif %}
      {{ govukButton({
       text: 'Create requirement',
       href: createLink,
       classes: "govuk-button--start"
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class='govuk-heading-m'>
        Sell services
      </h2>
      <ul class="govuk-list">
         <li>
           <a href="opportunities/">View opportunities</a>
         </li>
         <li>
           <a href="#0">Become a supplier</a>
         </li>
       </ul>

    </div>
  </div>
{% endblock %}
