{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">School procurement</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <aside class="part-navigation-container" role="complementary">
        <nav role="navigation" class="gem-c-contents-list  " data-module="track-click" aria-label="Pages in this guide">

          <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-0">Contents</h2>

          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#0">Before you start</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
              <a href="#0">Find the right way to buy</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#0">Work with other schools</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#0">Fraud</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#0">How to manage your fixed assets</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <a href="#0">Get help with buying for schools</a>
            </li>
          </ol>
        </nav>

      </aside>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class='govuk-heading-l'>
        Find the right way to buy
      </h2>

      <p class="govuk-body-l">When to buy from a framework and when to get bids or quotes.</p>

      {{ govukInsetText({
        html: 'Always follow your school&rsquo;s procurement rules. These may be your school’s own rules, or set by the local authority.'
      }) }}

      <h3 class='govuk-heading-m govuk-!-margin-top-6'>
        Using a framework
      </h3>

      <p>Frameworks are a type of contract with agreed terms and conditions for buying goods, works or services for your school. You can use them without having to run a full buying process.</p>

      <p>Each framework agreement will have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>details of the products and services available</li>
        <li>an agreed pricing structure</li>
        <li>details of the suppliers</li>
        <li>instructions on how to buy</li>
        <li>an agreed set of terms and conditions</li>
      </ul>

      <p>Buying from a framework will usually be quicker and easier than getting bids or quotes because the agreements:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have already been through a full competitive tender process</li>
        <li>have been quality checked</li>
        <li>are checked to make sure they comply with the law</li>
        <li>may have draft specifications and help available</li>
      </ul>

      {{ govukButton({
        text: 'Find a framework',
        href: 'find-framework/start',
        classes: 'govuk-button--start'
      }) }}





      <h2 class='govuk-heading-m govuk-!-margin-top-6'>
        Running your own buying process
      </h2>

      <p>If you cannot get what you need through a framework agreement you&rsquo;ll have to run your own buying process. Your school&rsquo;s procurement rules will set the method you need to follow.</p>

      <h3 class='govuk-heading-s'>
        Schools contract finder
      </h3>

      <p>The <a href="#0">schools contract finder</a> allows schools to find suppliers to procure goods and service by posting specifications which suppliers can see.</p>

      {{ govukButton({
        text: 'Post a specification',
        href: 'find-supplier/start',
        classes: 'govuk-button--start'
      }) }}

      <h3 class='govuk-heading-s'>
        Tenders over the EU procurement threshold
      </h3>

      {{ govukWarningText({
        classes: '',
        text: 'We recommend that you get legal advice if what you are buying is over, or near to, the EU procurement thresholds.',
        iconFallbackText: 'Warning'
      }) }}

      <p>EU procurement thresholds are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>goods &ndash; £181,302</li>
        <li>works &ndash; £4,551,413</li>
        <li>most services &ndash; £181,302</li>
      </ul>




      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
        <ul class="gem-c-pagination__list">
            <li class="gem-c-pagination__item gem-c-pagination__item--previous">
              <a href="#0" class="gem-c-pagination__link">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Previous
                  </span>
                </span>
                  <span class="govuk-visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Before you start</span>
              </a>
            </li>
            <li class="gem-c-pagination__item gem-c-pagination__item--next">
              <a href="#0" class="gem-c-pagination__link">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">
                    Next
                  </span>
                </span>
                  <span class="govuk-visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Work with other schools</span>
              </a>
            </li>
        </ul>
      </nav>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items gem-c-related-navigation" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#0">
                Deals for schools
              </a>
            </li>
            <li>
              <a href="#0">
                Supporting excellent school resource management
              </a>
            </li>
            <li>
              <a href="#0">
                Trends in school spending: 2002 to 2016
              </a>
            </li>
            <li>
              <a href="#0">
                School procurement: expression of interest form
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
