{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Schools Marketplace",
      href: "../"
    },
    {
      text: "Your account",
      href: "../account"
    }
  ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">
        Your responses
      </span>
      <h1 class="govuk-heading-xl">
        {{ opportunity.title }}
      </h1>

      {% if opportunity.response < '1' %}
        <p>You didn&rsquo;t get any responses to this requirement.</p>

        <p>This might be becuase:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the specification was either too broad or narrow</li>
          <li>it was posted in the wrong category</li>
          <li>there aren&rsquo;t currently any suppliers that meet your need on {{ serviceName }}</li>
        </ul>

        <h2 class='govuk-heading-m'>
          What next
        </h2>
        <p>You can <a href="#0">relist your requirements</a>, or <a href="#0">make a copy</a> and update your requirements.</p>





      {% else %}
          <!-- <p>You have had {{ opportunity.response }} responses to your requirements.</p> -->
          <p>You should now shortlist and then evaluate your chosen suppliers.</p>
          <p>If only 1 or 2 suppliers meet your requirements, you can just evaluate those suppliers.</p>
          <p>Once you have done that you can award the contract to them here on {{ serviceName }}.</p>

      <div class="govuk-grid-row govuk-card__flex-container">
        {% for response in opportunity.responses %}
        <div class="govuk-grid-column-full govuk-card__flex-item">
          <div class="govuk-card govuk-card--contained govuk-card--selectable">

            <a href="{{ opportunity.title }}/{{ response.name }}"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m">
                <a href="{{ opportunity.title }}/{{ response.name }}">{{ response.name }}</a>
              </h3>
              <ul class="govuk-list govuk-!-margin-bottom-0">
                <li>{{ response.phone }}</li>
                <li>{{ response.address }}</li>
              </ul>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
