
{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">
        Buying for schools
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h2 class='govuk-heading-l govuk-visually-hidden'>
        Latest sprint
      </h2>

      {# Start of most recent box #}
        <div class="most-recent">

  				{# Start of prototype write up #}
  				<div class="prototype-write-up">
            {{ govukTag({
              text: 'Beta sprint 1',
              classes: ''
            }) }}

            <h3 class='govuk-heading-m'>
              Find a framework
              <span class="version">Version 4</span>
            </h3>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Hypotheses</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://trello.com/c/v8csaHE6/16-rename-the-service">Rename the service</a></li>
              <li><a href="https://trello.com/c/3tZ7FWY1/13-category-specific-content">Category specific content</a></li>
              <li><a href="https://trello.com/c/8lPQNNpa/19-psbo-guidance">PSBO guidance</a></li>
              <li><a href="https://trello.com/c/2TL91DYg/18-provide-dfe-method-for-recommending-frameworks">Provide DfE method for recommending frameworks</a></li>
            </ul>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Changes</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>Renamed the service to add &lsquo;DfE&rsquo; and add more clarity that the service points to a framework (meaning we'd have to remove RPA)</li>
              <li>Introduced a new <a href="/guidance/">detailed guide for buying books</a></li>
              <li>In-depth guide for buying from ESPO in the <a href="/service/outcome?type=Buying%20goods&category=Books%20and%20media&oldversion=false">books framework</a> (<a href="/service/outcome?type=Buying%20goods&category=Books%20and%20media&oldversion=true">view the old version</a>)</li>
              <li>Updated the <a href="/service/">start page</a> to add clarity about how DfE pick the recomendations, and changed the style as GDS advised we will not be using the standard start page</li>
            </ul>

  					<!-- <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research notes</h4>
  					<p>
  						Findings will go here.
  					</p> -->

            {{ govukButton({
              text: "View prototype",
              href: "service/?oldversion=false"
            }) }}

  				</div>
  				{# End of prototype write up #}

  			</div>
  			{# End of most recent box #}









      <h2 class='govuk-heading-l'>
        Sprint history
      </h2>
      {# Start of hidden panel #}

			<details class="govuk-details">
				<summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Show all sprints</span>
        </summary>
				<div class="govuk-details__text">

          {# Start of prototype write up #}
  				<div class="prototype-write-up">
            {{ govukTag({
              text: 'Alpha sprint 6',
              classes: 'govuk-!-margin-bottom-4'
            }) }}

            <h3 class='govuk-heading-m'>
              Find a framework
              <span class="version">Version 3</span>
            </h3>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Feature hypothesis</h4>
            <p>
              <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DBFS/pages/749634172/Hypotheses#Hypotheses-Hypothesis1–Findasupplierwhoiscompliantandgivesagooddeal">Hypothesis 1 &ndash; Find a supplier who is compliant and gives a good deal</a>
            </p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User need</h4>
            <p>I want help finding the best supplier who fits my needs, so that I procure at best value.</p>

  					<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Method</h4>
  					<p>Improve the journey to buy goods or service contracts through an improved find a framework journey so that schools can save time looking for approved suppliers who can supply the things they need.</p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Changes</h4>
            <p>Since the <a href="https://buying-for-schools-prototype-4.herokuapp.com/service/">last find a framework prototype</a> we think that presenting some of the guidance and downloads available in the manual after finding the right framework but before hand-off to the PSBO will help users on their journey.</p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research notes</h4>
            <p>
              Users often missed the guidance, but when encouraged to explore it, found it valuable. It helped (marginally) users understand better what a Framework was, and to prepare to use them. Users still need support before and after finding a method to buy. PSBO websites still remain the biggest barrier (by a long way) to successful usage of Frameworks (when navigating GOV.UK).
  					</p>
            <p>
              <a href="https://docs.google.com/presentation/d/1v4jlZ2wnUBEHjmPTXJ_ks9EtmRkn457fFsMjculcvKU/edit#slide=id.g453cd8b7e0_0_0">View user research report</a>
            </p>

            {{ govukButton({
              text: "View prototype",
              href: "https://buying-for-schools-prototype-6.herokuapp.com/service/"
            }) }}

  				</div>
  				{# End of prototype write up #}



          {# Start of prototype write up #}
  				<div class="prototype-write-up">
            {{ govukTag({
              text: 'Alpha sprint 4',
              classes: 'govuk-!-margin-bottom-4'
            }) }}

            <h3 class='govuk-heading-m'>
              Buying goods or a service contract for your school
            </h3>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Feature hypothesis</h4>
            <p>
              <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DBFS/pages/749634172/Hypotheses#Hypotheses-Hypothesis1–Findasupplierwhoiscompliantandgivesagooddeal">Hypothesis 1 &ndash; Find a supplier who is compliant and gives a good deal</a>
            </p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User need</h4>
            <p>I want help finding the best supplier who fits my needs, so that I procure at best value.</p>

  					<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Method</h4>
  					<p>Improve the journey to buy goods or service contracts through an improved find a framework journey so that schools can save time looking for approved suppliers who can supply the things they need.</p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Changes</h4>
            <p>Since the <a href="https://buying-for-schools-prototype-2.herokuapp.com/v2/find-framework/start">last find a framework prototype</a> we&rsquo;ve updated the journey and outcomes for frameworks and allowed the user to navigate to guidance on running their own buying process.</p>

  					<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research notes</h4>
            <p>
              The prototype encourages the use of frameworks, by highlighting the range of frameworks available, and supporting users to quickly find an appropriate framework. However, users perceptions of frameworks pose a significant barrier - specifically, frameworks are not perceived as the cheapest way to procure goods / services. Additionally, though the prototype saves users time finding a framework, every stage of the user journey from that point remains complex and time-consuming.
  					</p>
            <p>
              <a href="https://docs.google.com/presentation/d/1uin1rakMYXxf1AiLH0_aCUhcvNOl7ZXtSWmssbIdqfA/edit#slide=id.g453cd8b7e0_0_0">View user research report</a>
            </p>

            {{ govukButton({
              text: "View prototype",
              href: "https://buying-for-schools-prototype-4.herokuapp.com/service/"
            }) }}
            <p><a href="https://buying-for-schools-prototype-4.herokuapp.com/pages">View all pages</a></p>

  				</div>
  				{# End of prototype write up #}



          {# Start of prototype write up #}
  				<div class="prototype-write-up">
            {{ govukTag({
              text: 'Alpha sprint 3',
              classes: 'govuk-!-margin-bottom-4'
            }) }}

            <h3 class='govuk-heading-m'>
              Find a supplier for a school
              <span class="version">Version 3</span>
            </h3>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Feature hypothesis</h4>
  					<p>
              <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DBFS/pages/749634172/Hypotheses#Hypotheses-Hypothesis1–Findasupplierwhoiscompliantandgivesagooddeal">Hypothesis 1 &ndash; Find a supplier who is compliant and gives a good deal</a>
              <br>
              <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DBFS/pages/749634172/Hypotheses#Hypotheses-Hypothesis2–Supportedprocurementprocess">Hypothesis 2 &ndash; Supported/managed procurement process</a>
            </p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User need</h4>
            <p>I want to find a supplier who fits my needs, so that I procure at best value.</p>

  					<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Method</h4>
  					<p>The design will simplify how buyers find suppliers by letting them post a their requirements and have suppliers respond in to them.</p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Changes</h4>
            <p>This version will extend the post a specification route, exploring the service behind it and touching more on how suppliers could repsond and what details the school will get back.</p>

  					<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research notes</h4>
  					<p>
  						The &lsquo;Schools Marketplace&rsquo; prototype helps users to access more suppliers, this may help users save money by increasing competition. Like the &lsquo;Create a Specification&rsquo; prototype, &lsquo;Schools Marketplace&rsquo; saves users time by offering prompts and suggestions, and additionally reduces the time it takes to research suppliers.
  					</p>
            <p>
              <a href="https://docs.google.com/presentation/d/1I2-5q15QfEQMuLD1bwx_LF8ElDicIHYREXm5FfkpRc4/edit#slide=id.g453cd8b7e0_0_0">View user research report</a>
            </p>

            {{ govukButton({
              text: "View prototype",
              href: "https://buying-for-schools-prototype-3.herokuapp.com/v3/"
            }) }}
            <p><a href="https://buying-for-schools-prototype-3.herokuapp.com/pages">View all pages</a></p>

  				</div>
  				{# End of prototype write up #}

          {# Start of prototype write up #}
  				<div class="prototype-write-up">
            {{ govukTag({
              text: 'Alpha sprint 2',
              classes: 'govuk-!-margin-bottom-4'
            }) }}

            <h3 class='govuk-heading-m'>
              Find a supplier for a school
              <span class="version">Version 2</span>
            </h3>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Feature hypothesis</h4>
            <p>
              <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DBFS/pages/749634172/Hypotheses#Hypotheses-Hypothesis1–Findasupplierwhoiscompliantandgivesagooddeal">Hypothesis 1 &ndash; Find a supplier who is compliant and gives a good deal</a>
              <br>
              <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DBFS/pages/749634172/Hypotheses#Hypotheses-Hypothesis2–Supportedprocurementprocess">Hypothesis 2 &ndash; Supported/managed procurement process</a>
            </p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User need</h4>
            <p>I want help finding the best supplier who fits my needs, so that I procure at best value.</p>

  					<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Method</h4>
  					<p>The design will simplify how buyers find suppliers by pointing them to the correct procurement method and assisting them, by pointing them to a framework or helping them post a specificiation for tender.</p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Changes</h4>
            <p>Different buying methods are covered on a GOV.UK landing page, rather than having to ask the user about budget. The 'Find a framework' and 'Post a specification' flows are then treated as two seperate tools.</p>

  					<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research notes</h4>
  					<p>
  						The Find a Framework prototype makes deals easier to find and understand. However, this is not a viable solution while the PSBO hand-off remains problematic.
  					</p>
            <p>
              Create a Specification and Post a Specification prototypes were of most utility to inexperienced SBPs, and for ‘uniform’ purchases. Additional functionality (e.g. save and continue) should be considered.
            </p>
            <p>
              <a href="https://docs.google.com/presentation/d/1m4KBZ9d3EME2BBoRRudpIq2jln0WPxhop-xsOim1aLg/edit#slide=id.g453cd8b7e0_0_0">View user research report</a>
            </p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Prototype</h4>
            {{ govukInsetText({
              text: 'You will be asked for the username and password again, they are the same.',
              classes: ''
            }) }}

            {{ govukButton({
              text: 'View prototype',
              href: 'https://buying-for-schools-prototype-2.herokuapp.com/v2/landing'
            }) }}

            <details class="govuk-details govuk-!-margin-bottom-0">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show all versions
                </span>
              </summary>
              <div class="govuk-details__text">
                <h3 class='govuk-heading-m'>
                  Version 1
                </h3>

                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research notes</h4>
                <p>This version wasn&rsquo;t researched with users, after an interanl review it was felt that there were two seperate method journeys and the first section to find method was unnecessary and could be covered on a content page.</p>

                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Prototype</h4>
                {{ govukButton({
                  text: 'View prototype',
                  href: 'https://buying-for-schools-prototype-2.herokuapp.com/v1/find-supplier/start'
                }) }}
              </div>
            </details>

  				</div>
  				{# End of prototype write up #}





          {# Start of prototype write up #}
  				<div class="prototype-write-up">
            {{ govukTag({
              text: 'Alpha sprint 1',
              classes: 'govuk-!-margin-bottom-4'
            }) }}

            <h3 class='govuk-heading-m'>
              Create a school purchase specification
              <span class="version">Version 1</span>
            </h3>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Feature hypothesis</h4>
  					<p><a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DBFS/pages/749634172/Hypotheses#Hypotheses-Hypothesis2–Supportedprocurementprocess">Hypothesis 2 &ndash; Supported procurement process</a></p>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User need</h4>
            <p>I want to simplify my procurement specification process, so that I can get best value quickly.</p>

  					<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Method</h4>
  					<p>The design will simplify how buyers communicate their requirements to suppliers through a simple &lsquo;specification&rsquo; which asks the questions suppliers need answering.</p>

  					<h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research notes</h4>
            <p>
              Create a Specification and Post a Specification prototypes were of most utility to inexperienced SBPs, and for ‘uniform’ purchases. Additional functionality (e.g. save and continue) should be considered.
            </p>
            <p>
              <a href="https://docs.google.com/presentation/d/1m4KBZ9d3EME2BBoRRudpIq2jln0WPxhop-xsOim1aLg/edit#slide=id.g453cd8b7e0_0_0">View user research report</a>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Prototype</h4>
            {{ govukInsetText({
              text: 'You will be asked for the username and password again, they are the same.',
              classes: ''
            }) }}

            {{ govukButton({
              text: 'View prototype',
              href: 'https://buying-for-schools-prototype-1.herokuapp.com/create-specification/start'
            }) }}

  				</div>
  				{# End of prototype write up #}

				</div>
			</details>
			{# End of hidden panel #}
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/DFE-Digital/buying-for-schools-prototype">
                Prototype repository on GitHub
              </a>
            </li>
            <li>
              <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DBFS/overview">
                Buying for schools confluence
              </a>
            </li>
            <li>
              <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/DBFS/pages/749634172/Hypotheses">
                Service and feature level hypotheses
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
</div>

{% endblock %}
