
{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Buying for schools prototype
      </h1>
      {{ govukButton({
        text: 'View current version',
        href: "create-specification/start",
        classes: "govuk-button--start "
      }) }}

      <h2 class='govuk-heading-l'>
        Version history
      </h2>
      <p>This is where the version history will go.</p>
</div>

{% endblock %}
