
{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Prototypes</span>
      <h1 class="govuk-heading-xl">
        {{ serviceName }} pages
      </h1>

      <h2 class="govuk-heading-m">Questions</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="service/">Start</a>
        </li>
        <li>
          <a href="service/type">Goods or service</a>
        </li>
        <li>
          <a href="service/category?type=Goods">Category (goods)</a>
        </li>
        <li>
          <a href="service/category?type=Service contract">Category (service)</a>
        </li>
        <li>
          <a href="service/sub-category?category=Energy and utilities">Sub-category (energy)</a>
        </li>
        <li>
          <a href="service/method">Framework or own buying process</a>
        </li>
        <li>
          <a href="service/budget">Budget</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Outcomes</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="service/check-catalogue?type=Goods&category=ICT">ICT catalogue</a>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <a href="service/check-catalogue?type=Goods&category=Office supplies">Office supplies catalogue</a>
        </li>


        <li>
          <a href="service/framework/confirmation?category=Audit services">Audit framework</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Books and materials">Books framework</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Energy and utilities&category-energy=Electricity">Energy framework (electricity)</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Energy and utilities&category-energy=Energy efficiency improvements">Energy framework (energy efficiency improvements)</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Energy and utilities&category-energy=Loans for energy saving">Energy framework (loans for energy saving)</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Energy and utilities&category-energy=Gas">Energy framework (natural gas)</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Energy and utilities&category-energy=Water">Energy framework (water or waste water removal)</a>
        </li>
        <li>
          <a href="service/framework/confirmation?type=Goods&category=Facilities management and estates">FM framework (goods)</a>
        </li>
        <li>
          <a href="service/framework/confirmation?type=Service contract&category=Facilities management and estates">FM framework (service contract)</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=ICT">ICT framework</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Insurance">Insurance framework</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Leasing services">Leasing framework</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Legal services">Legal framework</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Printers, copiers and multi-functional devices (MFDs)">Printers framework</a>
        </li>
        <li>
          <a href="service/framework/confirmation?category=Professional services">Professional services framework</a>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <a href="service/framework/confirmation?category=Recruitment">Recruitment framework</a>
        </li>


        <li>
          <a href="service/tender/confirmation?budget=No">Under OJEU tender</a>
        </li>
        <li>
          <a href="service/tender/confirmation?budget=Yes">Over OJEU tender</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
