{% extends "layout.html" %}


{% block beforeContent %}
  <a class="govuk-back-link" href="../task-list">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class='govuk-heading-xl'>
        {{ data['school-name'] }}&rsquo;s specification
      </h1>

      {# {% if data['contact-email'] %}
        <p>A copy has been sent to {{ data['contact-email'] }}</p>
      {% endif %} #}
    </div>

    <div class="govuk-grid-column-three-quarters">
      <div class="letter">
        <span class="govuk-caption-l">{{ data['school-name'] }}</span>
        <h1 class="govuk-heading-l">
          {{ data['contract-title'] }}
        </h1>

        <h2 class='govuk-heading-m'>
          Contract summary
        </h2>
        <dl class="govuk-body-s">
          {% if data['multiple-schools'] == 'Yes' %}
          <dt>Number of schools</dt>
          <dd>{{ data['number-of-schools'] }}</dd>
          {% endif %}

          <dt>School name</dt>
          <dd>{{ data['school-name'] }}</dd>

          <dt>School address</dt>
          <dd>{{ data['school-address-line-1'] }} {{ data['school-address-line-2'] }} {{ data['school-address-town'] }} {{ data['school-address-county'] }} {{ data['school-address-postcode'] }}</dd>

          <dt>Number of pupils</dt>
          <dd>{{ data['school-pupils'] }}</dd>

          <dt>Budget</dt>
          <dd>£{{ data['budget'] }} (excluding VAT)</dd>

          {% if data['contract-type'] == 'One-off purchase' %}
            <dt>
              Purchase date
            </dt>
            <dd>
              {% set purchaseDate = data['purchase-date-year'] + "-" + data['purchase-date-month'] + "-" + data['purchase-date-day'] %}

              {{ purcasheDate | date("D MMMM YYYY") }}
            </dd>
          {% elif data['contract-type'] == 'Ongoing service' %}
            <dt>
              Start date
            </dt>
            <dd>
              {% set contractStart = data['contract-start-date-year'] + "-" + data['contract-start-date-month'] + "-" + data['contract-start-date-day'] %}

              {{ contractStart | date("D MMMM YYYY") }}
            </dd>

            <dt>
              End date
            </dt>
            <dd>
              {% set contractEnd = data['contract-end-date-year'] + "-" + data['contract-end-date-month'] + "-" + data['contract-end-date-day'] %}

              {{ contractEnd | date("D MMMM YYYY") }}
            </dd>

            {% if data['review-date-option'] == 'yes' %}
              <dt>
                Review date
              </dt>
              <dd>
                {% set contractReview = data['contract-review-date-year'] + "-" + data['contract-review-date-month'] + "-" + data['contract-review-date-day'] %}

                {{ contractReview | date("D MMMM YYYY") }}
              </dd>
            {% endif %}
          {% else %}{% endif %}
        </dl>

        <h2 class='govuk-heading-m'>
          Requirements
        </h2>
        <p class="govuk-body-s">{{ data['contract-description'] | escape | nl2br }}</p>
        {# <span class="govuk-body-s">
        {{ data['contract-requirements-rendered'] | safe }}
        </span> #}

        <h2 class='govuk-heading-m'>
          Supplier response
        </h2>

        <h3 class='govuk-heading-s'>
          Main contact
        </h3>
        <p class="govuk-body-s">
          {{ data['contact-name'] }} <br>
          {% if data['contact-phone'] %}
          {{ data['contact-phone'] }} <br>
          {% endif %}
          {% if data['contact-email'] %}
          {{ data['contact-email'] }}
          {% endif %}
        </p>

        <h3 class='govuk-heading-s'>
          How to respond
        </h3>
        <p class="govuk-body-s">{{ data['response-type'] }}</p>

        <h3 class='govuk-heading-s'>
          Assessment criteria
        </h3>
        <p class="govuk-body-s">{{ data['response-assessment'] }}</p>

      </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list">
        <li><a href="../task-list">Edit specification</a></li>
        <li><a href="print">Print specificiation</a></li>
        <li><a href="#0">Download as a Word document (.docx)</a></li>
        <li><a href="#0">Download as a PDF document (.pdf)</a></li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>

  </div>

{% endblock %}
