{% extends "layout_unbranded.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">{{ data['school-name'] }}</span>
    <h1 class="govuk-heading-xl">
      {{ data['contract-title'] }}
    </h1>

    <h2 class='govuk-heading-l'>
      Contract summary
    </h2>
    <dl>
      {% if data['multiple-schools'] == 'Yes' %}
      <dt>Number of schools</dt>
      <dd>{{ data['number-of-schools'] }}</dd>
      {% endif %}

      <dt>School name</dt>
      <dd>{{ data['school-name'] }}</dd>

      <dt>School address</dt>
      <dd>{{ data['school-address-line-1'] }} {{ data['school-address-line-2'] }} {{ data['school-address-town'] }} {{ data['school-address-county'] }} {{ data['school-address-postcode'] }}</dd>

      <dt>Number of pupils</dt>
      <dd>{{ data['school-pupils'] }}</dd>

      <dt>Budget</dt>
      <dd>£{{ data['budget'] }} (excluding VAT)</dd>

      {% set contractStart = data['contract-start-date-year'] + "-" + data['contract-start-date-month'] + "-" + data['contract-start-date-day'] %}
      <dt>Start date</dt>
      <dd>{{ contractStart | date("D MMMM YYYY") }}</dd>

      {% set contractEnd = data['contract-end-date-year'] + "-" + data['contract-end-date-month'] + "-" + data['contract-end-date-day'] %}
      <dt>End date</dt>
      <dd>{{ contractEnd | date("D MMMM YYYY") }}</dd>

      {% if data['review-date'] %}
        {% set contractReview = data['contract-review-date-year'] + "-" + data['contract-review-date-month'] + "-" + data['contract-review-date-day'] %}

        <dt>Review date</dt>
        <dd>{{ contractReview | date("D MMMM YYYY") }}</dd>
      {% endif %}
    </dl>

    <h2 class='govuk-heading-l'>
      Requirements
    </h2>
    <p>{{ data['contract-description'] }}</p>
    {# <span>
    {{ data['contract-requirements-rendered'] | safe }}
    </span> #}

    <h2 class='govuk-heading-l'>
      Supplier response
    </h2>

    <h3 class='govuk-heading-s'>
      Main contact
    </h3>
    <p>
      {{ data['contact-name'] }} <br>
      {% if data['contact-phone'] %}
      {{ data['contact-phone'] }} <br>
      {% endif %}
      {% if data['contact-email'] %}
      {{ data['contact-email'] }}
      {% endif %}
    </p>

    <h3 class='govuk-heading-s'>
      How to respond
    </h3>
    <p>{{ data['response-type'] }}</p>

    <h3 class='govuk-heading-s'>
      Assessment criteria
    </h3>
    <p>{{ data['response-assessment'] }}</p>

  </div>
</div>

<script>
  window.print();
</script>
{% endblock %}
