{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="../method-framework">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="type" method="post" autocomplete="off">

        {{ govukRadios({
          classes: '',
          idPrefix: 'framework-category',
          name: 'framework-category',
          fieldset: {
            legend: {
              text: 'Which category are you buying in?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
            }
          },
          hint: {
            text: ''
          },
          items: [
            {
              value: 'Energy and utilities',
              text: 'Energy and utilities'
            },
            {
              value: 'ICT',
              text: 'ICT'
            },
            {
              value: 'Printers, copiers and multi-functional devices (MFDs)',
              text: 'Printers, copiers and multi-functional devices (MFDs)'
            },
            {
              value: 'Insurance',
              text: 'Insurance'
            },
            {
              value: 'Audit services',
              text: 'Audit services'
            },
            {
              value: 'Facilities management and estates',
              text: 'Facilities management and estates'
            },
            {
              value: 'Books and materials',
              text: 'Books and materials'
            },
            {
              value: 'Recruitment',
              text: 'Recruitment'
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
